{{#isEmpty}}
  <p class="wire-empty-message">{{emptyMessage}}</p>
{{/isEmpty}}
{{^isEmpty}}
<div class="profile-card">
   <div class="left">
      <img class="avatar-container" src="http://sphotos-a.xx.fbcdn.net/hphotos-ash3/576639_3883532212032_450958431_n.jpg" />
      <a class="red-button pie-element" href="#">Contact</a>
      <a class="red-button" href="#">Subscribe</a>        
   </div>
   <div class="right">
      <h2 class="name"><a href="#">Warwick Valley Humane Society</a></h2>
      <div class="stat-bar">
         <ul>
            <li>
              <span class="big">18</span>
              <span class="little">Announcements</span>
            </li>
            <li>
              <span class="big">9</span>
              <span class="little">Events</span>
            </li>
            <li>
              <span class="big">11</span>
              <span class="little">Thanks</span>
            </li>
            <li>
              <span class="big">24</span>
              <span class="little">Members</span>
            </li>
            <li>
              <span class="big">3</span>
              <span class="little">Subscribers</span>
            </li>
         </ul>
      </div>
      <p>The Warwick Valley Humane Society, Inc. (WVHS) is a not for profit corporation of the State of New York. Founded in 1954, we have
        operated the Warwick Animal Shelter since 1968.</p>
      <p><span class="bold">Website:</span>  <a href="http://www.wvhumane.org/" target="_blank">http://www.wvhumane.org/</a></p>
  </div>
</div>
<div class="profile-card">
   <div class="left">
      <img class="avatar-container" src="https://s3.amazonaws.com/commonplace-avatars-production/users/2086/avatar/thumb.JPG" />
      <a class="red-button pie-element" href="#">Contact</a>
      <a class="red-button" href="#">Have You Met?</a>        
   </div>
   <div class="right">
      <h2 class="name"><a href="#">Veronica Nickel</a></h2>
      <div class="stat-bar">
         <ul>
            <li>
              <span class="big">18</span>
              <span class="little">Posts</span>
            </li>
            <li>
              <span class="big">8</span>
              <span class="little">Replies</span>
            </li>
            <li>
              <span class="big">11</span>
              <span class="little">Thanks</span>
            </li>
            <li>
              <span class="big">43</span>
              <span class="little">Mets</span>
            </li>
            <li>
              <span class="big">3</span>
              <span class="little">Items</span>
            </li>
            <li>
              <span class="big">2</span>
              <span class="little">Events</span>
            </li>
         </ul>
      </div>
      <p>My name is Veronica Nickel. I'm 21 years old, and I'm on my third year of college. I'm studying criminal, abnormal, and child psychology. I'm currently attending SUNY Orange in Middletown and living at home in Warwick, where I've been for 4 years.
      </p>
      <p><span class="bold">Pages:</span>  <a href=#">Child Psychology Tutoring</a>
      <p><span class="bold">Memberships:</span>  The Warwick Valley Humane Society, Crossfit Warwick, Warwick Kiwanis Club</p>
  </div>
</div>  
  <ul class="wire-list">
  </ul>
{{/isEmpty}}
{{#areMore}}
  <div class="end">
    <div class="loading">Loading more...</div>
  </div>
{{/areMore}}
