{{#isEmpty}}
  <p class="wire-empty-message">{{emptyMessage}}</p>
{{/isEmpty}}
{{^isEmpty}}
    <div class="profile-card">
    <div class="left">
        <img class="avatar-container" src="http://placehold.it/100x100">
        <a class="red-button pie-element" href="#">Contact</a>
        <a class="red-button" href="#">Meet</a>        
    </div>
    <div class="right">
        <h2 class="name">Carol Wingate</h2>
        <div class="stat-bar">
            <ul>
                <li>
                    <span class="big">18</span>
                    <span class="little">Posts</span>
                </li>
                <li>
                    <span class="big">8</span>
                    <span class="little">Replies</span>
                </li>
                <li>
                    <span class="big">11</span>
                    <span class="little">Thanks</span>
                </li>
                <li>
                    <span class="big">43</span>
                    <span class="little">Mets</span>
                </li>
                <li>
                    <span class="big">3</span>
                    <span class="little">Items</span>
                </li>
                <li>
                    <span class="big">2</span>
                    <span class="little">Events</span>
                </li>

            </ul>
        </div>
        <p>My boyfriend and I...blah blah</p>
    </div>
    </div>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
  <ul class="wire-list">
  </ul>
{{/isEmpty}}
{{#areMore}}
  <div class="end">
    <div class="loading">Loading more...</div>
  </div>
{{/areMore}}
