<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <title>
         The {{community_name}} Daily Bulletin
      </title>
      <link rel="stylesheet" type="text/css" href="bulletin.css">
      <style type="text/css">
      {{styles}}
      </style>
   </head>
   <body marginheight="0" topmargin="0" marginwidth="0" leftmargin="0" bgcolor="#F5F4E8">
      <table id="page-wrapper" cellspacing="20" border="0">
         <tbody>
            <tr>
               <td>
                  <center>
                     <table id="email-wrapper">
                        <tbody>
                           <tr>
                              <td>
                                 <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
                                    <tr>
                                       <td width="100%">
                                          <!--SPONSORED AD-->
                                          <span class="post-separator">&nbsp;</span>
                                          <table width="100%" height="100" border="0" cellspacing="0" cellpadding="0" class="sponsored">
                                             <tr>
                                                <td rowspan="2" width="120" height="100" class="sponsored_image">
                                                   <img src="" alt="">
                                                </td>
                                                <td colspan="2" align="left" valign="top" class="sponsored_text">
                                                </td>
                                             </tr>
                                             <tr>
                                                <td align="left" valign="bottom" style="padding-left:20px;">
                                                   <a href="#" style="text-decoration: none;"><span class="sponsored_link">VIEW DEAL</span></a>
                                                </td>
                                                <td align="right" valign="bottom">
                                                   <a href="#" style="text-decoration: none;"><span class="sponsored_disclaimer">Sponsored Post. <strong>Want an ad?</strong></span></a>
                                                </td>
                                             </tr>
                                          </table>
                                          <span class="post-separator" style="border-bottom: 1px solid #dfd9d1;">&nbsp;</span>
                                          <!--END SPONSORED AD-->
                                          <!--INTRODUCTION-->
                                          <span class="post-separator">&nbsp;</span>
                                          <table id="introduction" width="100%" cellpadding="0" cellspacing="0" border="0">
                                             <tr>
                                                <td align="center" bgcolor="#C82D28" class="calendar_month">
                                                   {{month_short}}
                                                </td>
                                                <td width="100%" height="40" colspan="7" style="margin: 0px; padding: 0px 0px 0px 20px;">
                                                   <h1>
                                                      <strong style="font-weight: bold !important;">{{community_name}} Daily Bulletin</strong>
                                                   </h1>
                                                </td>
                                             </tr>
                                             <tr>
                                                <td align="center" bgcolor="#ffffff" class="calendar_date">
                                                   {{day_of_month}}
                                                </td>
                                                <td width="50" height="50" valign="middle" class="intro_icon">
                                                   <img src="http://markmalazarte.com/commonplace/weather.png" width="50" height="50" alt="★" />
                                                </td>
                                                <td valign="middle" class="weather_text">
                                                  <strong>{{current_temp}}&#8457;</strong>
                                                </td>
                                                <td width="50" height="50" valign="middle" class="intro_icon">
                                                   <img src="http://markmalazarte.com/commonplace/members.png" width="50" height="50" alt="★" />
                                                </td>
                                                <td valign="middle" class="members_text">
                                                  <strong>{{community_user_count}}</strong><br/>
                                                   People
                                                </td>
                                                <td width="50" height="50" valign="middle" class="intro_icon">
                                                   <img src="http://markmalazarte.com/commonplace/posts.png" width="50" height="50" alt="★" />
                                                </td>
                                                <td valign="middle" class="posts_text">
                                                  <strong>{{post_count}}</strong><br/>
                                                   Posts
                                                </td>
                                                <td width="100%" style="margin: 0px; padding: 0;">
                                                   &nbsp;
                                                </td>
                                             </tr>
                                          </table>
                                          <span class="post-separator">&nbsp;</span>
                                          <!--END INTRO-->
                                          {{#posts_present}}
                                          <table width="100%" cellpadding="25" cellspacing="0" border="0" class="section_container">
                                             <tr>
                                                <td width="100%" height="25">
                                                   <a href="{{list_posts_url}}"><h3 class="section_header"><img src="{{post_icon_url}}" width="25" height="25" alt="★" class="section_icon">&nbsp;&nbsp;<strong>{{#t}}posts-section-title{{/t}}</strong></h3></a>
                                                </td>
                                             </tr>
                                          </table>
                                          {{#posts}}
                                          <table width="100%" cellpadding="0" cellspacing="0" border="0" class="posts">
                                             <tr>
                                                <td width="100%" bgcolor="#FFFFFF">
                                                   <table width="100%" cellpadding="20" cellspacing="0" border="0">
                                                      <tr>
                                                         <td bgcolor="#FFFFFF" class="contentblock">
                                                            <table>
                                                               <tr class="post">
                                                                  <!--A Post-->
                                                                  <td class="post_content">
                                                                     <a href="{{url}}"></a>
                                                                     <h2>
                                                                        <span class="title">{{title}}</span>
                                                                     </h2>
                                                                     <p class="body">{{body}}</p>
                                                                     <table width="100%" height="32" class="post_author">
                                                                        <tr>
                                                                           <td class="avatar" rowspan="2">
                                                                              <img src="{{avatar_url}}" width="32" height="32">
                                                                           </td>
                                                                           <td class="author">
                                                                              <a href="{{author_url}}" style="color:#444444!important;"><font color="#444444">{{author}}</font></a> posted this
                                                                           </td>
                                                                        </tr>
                                                                     </table>
                                                                     {{#replies}}
                                                                     <span class="reply-separator"></span>
                                                                     <table class="reply">
                                                                        <tr>
                                                                           <td class="avatar" rowspan="2">
                                                                              <img src="{{avatar_url}}" width="32" height="32">
                                                                           </td>
                                                                           <td class="author">
                                                                              <a href="{{author_url}}" style="color:#444444!important;"><font color="#444444">{{author}}</font></a>
                                                                           </td>
                                                                        </tr>
                                                                        <tr>
                                                                           <td class="body">
                                                                              <p>
                                                                                 {{body}}
                                                                              </p>
                                                                           </td>
                                                                        </tr>
                                                                     </table>{{/replies}}
                                                                     <table width="100%" class="links">
                                                                        <tr>
                                                                           <td class="new_message">
                                                                              <a href="{{new_message_url}}"><span class="viewall">Send a Private Message</span></a>
                                                                           </td>
                                                                           <td class="view_post_td">
                                                                              <a href="{{url}}" class="reply-now"><img src="{{view_post_button_url}}" width="103" height="32" alt="View Post"></a>
                                                                           </td>
                                                                        </tr>
                                                                     </table>
                                                                  </td>
                                                               </tr>
                                                            </table>
                                                         </td>
                                                      </tr>
                                                   </table>
                                                </td>
                                             </tr>
                                             <tr>
                                                <td style="margin: 0px; padding: 0px;">
                                                   <tr class="post-separator" style="height: 20px;"></tr>
                                                </td>
                                             </tr>
                                          </table>
                                          {{/posts}}
                                          {{/posts_present}}
                                          {{#group_posts_present}}
                                          <table width="650" cellpadding="25" cellspacing="0" border="0" class="section_container">
                                             <tr>
                                                <td width="100%" height="25">
                                                   <a href="{{list_group_posts_url}}"><h3 class="section_header"><img src="{{group_post_icon_url}}" width="25" height="25" alt="★" class="section_icon">&nbsp;&nbsp;<strong>{{#t}}group-posts-section-title{{/t}}</strong></h3></a>
                                                </td>
                                             </tr>
                                          </table>
                                          {{#group_posts}}
                                          <table width="100%" cellpadding="0" cellspacing="0" border="0" class="posts">
                                             <tr>
                                                <td width="100%" bgcolor="#FFFFFF">
                                                   <table width="100%" cellpadding="20" cellspacing="0" border="0">
                                                      <tr>
                                                         <td bgcolor="#FFFFFF" class="contentblock">
                                                            <table>
                                                               <tr class="post">
                                                                  <!--A Post-->
                                                                  <td class="post_content">
                                                                     <a href="{{url}}"></a>
                                                                     <h2>
                                                                        <span class="title">{{title}}</span>
                                                                     </h2>
                                                                     <p class="body">{{body}}</p>
                                                                     <table class="post_author">
                                                                        <tr>
                                                                           <td class="avatar" rowspan="2">
                                                                              <img src="{{avatar_url}}" width="32" height="32">
                                                                           </td>
                                                                           <td class="author">
                                                                              <a href="{{author_url}}" style="color:#444444!important;"><font color="#444444">{{author}}</font></a> posted this
                                                                           </td>
                                                                        </tr>
                                                                     </table>
                                                                     {{#replies}}
                                                                     <span class="reply-separator"></span>
                                                                     <table class="reply">
                                                                        <tr>
                                                                           <td class="avatar" rowspan="2">
                                                                              <img src="{{avatar_url}}" width="32" height="32">
                                                                           </td>
                                                                           <td class="author">
                                                                              <a href="{{author_url}}" style="color:#444444!important;"><font color="#444444">{{author}}</font></a>
                                                                           </td>
                                                                        </tr>
                                                                        <tr>
                                                                           <td class="body">
                                                                              <p>
                                                                                 {{body}}
                                                                              </p>
                                                                           </td>
                                                                        </tr>
                                                                     </table>{{/replies}}
                                                                     <table width="100%" class="links">
                                                                        <tr>
                                                                           <td class="new_message">
                                                                              <a href="{{new_message_url}}"><span class="viewall">Send a Private Message</span></a>
                                                                           </td>
                                                                           <td class="view_post_td">
                                                                              <a href="{{url}}" class="reply-now"><img src="{{view_post_button_url}}" width="103" height="32" alt="View Post"></a>
                                                                           </td>
                                                                        </tr>
                                                                     </table>
                                                                  </td>
                                                               </tr>
                                                            </table>
                                                         </td>
                                                      </tr>
                                                   </table>
                                                </td>
                                             </tr>
                                             <tr>
                                                <td>
                                                   <span class="post-separator">&nbsp;</span>
                                                </td>
                                             </tr>
                                          </table>
                                          {{/group_posts}}
                                          {{/group_posts_present}}
                                          {{#events_present}}
                                          <table width="100%" cellpadding="25" cellspacing="0" border="0" class="section_container">
                                             <tr>
                                                <td width="100%" height="25">
                                                   <a href="{{list_events_url}}"><h3 class="section_header"><img src="{{event_icon_url}}" width="25" height="25" alt="★" class="section_icon">&nbsp;&nbsp;<strong>{{#t}}events-section-title{{/t}}</strong></h3></a>
                                                </td>
                                             </tr>
                                          </table>
                                          {{#events}}
                                          <table width="100%" cellpadding="0" cellspacing="0" border="0" class="posts">
                                             <tr>
                                                <td width="100%" bgcolor="#FFFFFF">
                                                   <table width="100%" cellpadding="20" cellspacing="0" border="0">
                                                      <tr>
                                                         <td bgcolor="#FFFFFF" class="contentblock">
                                                            <table>
                                                               <tr class="post event">
                                                                  <!--A Post-->
                                                                  <td class="avatar" height="110" valign="top">
                                                                     <div class="calendar">
                                                                        <div class="short-month">
                                                                           {{short_month}}
                                                                        </div>
                                                                        <div class="day">
                                                                           {{day}}
                                                                        </div>
                                                                     </div>
                                                                     <div class="time">
                                                                        <span class="start-time">{{starts_at}}</span> &#8213; <span class="end-time">{{ends_at}}</span>
                                                                     </div>
                                                                  </td>
                                                                  <td class="post_content">
                                                                     <a href="{{url}}"></a>
                                                                     <h2>
                                                                        <span class="title">{{title}}</span>
                                                                     </h2>
                                                                     <p class="body">{{body}}</p>
                                                                     <p>
                                                                        {{#venue}}<span class="venue"><strong>Venue:</strong></span> {{venue}}<br/>
                                                                        {{/venue}} {{#address}}<span class="address"><strong>Address:</strong></span> {{address}}{{/address}}
                                                                     </p>
                                                                     <table class="post_author">
                                                                        <tr>
                                                                           <td class="avatar" rowspan="2">
                                                                              <img src="{{avatar_url}}" width="32" height="32">
                                                                           </td>
                                                                           <td class="author">
                                                                              <a href="{{author_url}}" style="color:#444444!important;"><font color="#444444">{{author}}</font></a> posted this
                                                                           </td>
                                                                        </tr>
                                                                     </table>
                                                                     {{#replies}}
                                                                     <span class="reply-separator"></span>
                                                                     <table class="reply">
                                                                        <tr>
                                                                           <td class="avatar" rowspan="2">
                                                                              <img src="{{avatar_url}}" width="32" height="32">
                                                                           </td>
                                                                           <td class="author">
                                                                              <a href="{{author_url}}" style="color:#444444!important;"><font color="#444444">{{author}}</font></a>
                                                                           </td>
                                                                        </tr>
                                                                        <tr>
                                                                           <td class="body">
                                                                              <p>
                                                                                 {{body}}
                                                                              </p>
                                                                           </td>
                                                                        </tr>
                                                                     </table>{{/replies}}
                                                                     <table width="100%" class="links">
                                                                        <tr>
                                                                           <td class="new_message">
                                                                              <a href="{{new_message_url}}"><span class="viewall">Send a Private Message</span></a>
                                                                           </td>
                                                                           <td class="view_post_td">
                                                                              <a href="{{url}}" class="reply-now"><img src="{{view_post_button_url}}" width="103" height="32" alt="View Post"></a>
                                                                           </td>
                                                                        </tr>
                                                                     </table>
                                                                  </td>
                                                               </tr>
                                                            </table>
                                                         </td>
                                                      </tr>
                                                   </table>
                                                </td>
                                             </tr>
                                             <tr>
                                                <td>
                                                   <span class="post-separator">&nbsp;</span>
                                                </td>
                                             </tr>
                                          </table>
                                          {{/events}}
                                          {{/events_present}}
                                          {{#announcements_present}}
                                          <table width="100%" cellpadding="25" cellspacing="0" border="0" class="section_container">
                                             <tr>
                                                <td width="100%" height="25">
                                                   <a href="{{list_announcements_url}}"><h3 class="section_header"><img src="{{announcement_icon_url}}" width="25" height="25" alt="★" class="section_icon">&nbsp;&nbsp;<strong>{{#t}}announcements-section-title{{/t}}</strong></h3></a>
                                                </td>
                                             </tr>
                                          </table>
                                          {{#announcements}}
                                          <table width="100%" cellpadding="0" cellspacing="0" border="0" class="posts">
                                             <tr>
                                                <td width="100%" bgcolor="#FFFFFF">
                                                   <table width="100%" cellpadding="20" cellspacing="0" border="0">
                                                      <tr>
                                                         <td bgcolor="#FFFFFF" class="contentblock">
                                                            <table>
                                                               <tr class="post">
                                                                  <!--A Post-->
                                                                  <td class="post_content">
                                                                     <a href="{{url}}"></a>
                                                                     <h2>
                                                                        <span class="title">{{title}}</span>
                                                                     </h2>
                                                                     <p class="body">{{body}}</p>
                                                                     <table class="post_author">
                                                                        <tr>
                                                                           <td class="avatar" rowspan="2">
                                                                              <img src="{{avatar_url}}" width="32" height="32">
                                                                           </td>
                                                                           <td class="author">
                                                                              <a href="{{author_url}}" style="color:#444444!important;"><font color="#444444">{{author}}</font></a> posted this
                                                                           </td>
                                                                        </tr>
                                                                     </table>
                                                                     {{#replies}}
                                                                     <span class="reply-separator"></span>
                                                                     <table class="reply">
                                                                        <tr>
                                                                           <td class="avatar" rowspan="2">
                                                                              <img src="{{avatar_url}}" width="32" height="32">
                                                                           </td>
                                                                           <td class="author">
                                                                              <a href="{{author_url}}" style="color:#444444!important;"><font color="#444444">{{author}}</font></a>
                                                                           </td>
                                                                        </tr>
                                                                        <tr>
                                                                           <td class="body">
                                                                              <p>
                                                                                 {{body}}
                                                                              </p>
                                                                           </td>
                                                                        </tr>
                                                                     </table>{{/replies}}
                                                                     <table width="100%" class="links">
                                                                        <tr>
                                                                           <td class="new_message">
                                                                              <a href="{{new_message_url}}"><span class="viewall">Send a Private Message</span></a>
                                                                           </td>
                                                                           <td class="view_post_td">
                                                                              <a href="{{url}}" class="reply-now"><img src="{{view_post_button_url}}" width="103" height="32" alt="View Post"></a>
                                                                           </td>
                                                                        </tr>
                                                                     </table>
                                                                  </td>
                                                               </tr>
                                                            </table>
                                                         </td>
                                                      </tr>
                                                   </table>
                                                </td>
                                             </tr>
                                             <tr>
                                                <td>
                                                   <span class="post-separator">&nbsp;</span>
                                                </td>
                                             </tr>
                                          </table>
                                          {{/announcements}}
                                          {{/announcements_present}}
                                          {{#transactions_present}}
                                          <table width="100%" cellpadding="25" cellspacing="0" border="0" class="section_container">
                                             <tr>
                                                <td width="100%" height="25">
                                                   <a href="{{list_transactions_url}}"><h3 class="section_header"><img src="{{transaction_icon_url}}" width="25" height="25" alt="★" class="section_icon">&nbsp;&nbsp;<strong>{{#t}}transactions-section-title{{/t}}</strong></h3></a>
                                                </td>
                                             </tr>
                                          </table>{{#transactions}}
                                          <table width="100%" cellpadding="0" cellspacing="0" border="0" class="posts">
                                             <tr>
                                                <td width="100%" bgcolor="#FFFFFF">
                                                   <table width="100%" cellpadding="20" cellspacing="0" border="0">
                                                      <tr>
                                                         <td bgcolor="#FFFFFF" class="contentblock">
                                                            <table>
                                                               <tr class="post transaction">
                                                                  <!--A Post-->
                                                                  <td class="post_content">
                                                                     <a href="{{url}}"></a>
                                                                     <h2>
                                                                        <span class="title">{{title}}</span>
                                                                     </h2>
                                                                     <p class="body">{{body}}</p>
                                                                     <p>
                                                                        <span class="price"><strong>Price: {{price}}</strong></span>
                                                                     </p>
                                                                     <table class="post_author">
                                                                        <tr>
                                                                           <td class="avatar" rowspan="2">
                                                                              <img src="{{avatar_url}}" width="32" height="32">
                                                                           </td>
                                                                           <td class="author">
                                                                              <a href="{{author_url}}" style="color:#444444!important;"><font color="#444444">{{author}}</font></a> posted this
                                                                           </td>
                                                                        </tr>
                                                                     </table>
                                                                     {{#replies}}
                                                                     <span class="reply-separator"></span>
                                                                     <table class="reply">
                                                                        <tr>
                                                                           <td class="avatar" rowspan="2">
                                                                              <img src="{{avatar_url}}" width="32" height="32">
                                                                           </td>
                                                                           <td class="author">
                                                                              <a href="{{author_url}}" style="color:#444444!important;"><font color="#444444">{{author}}</font></a>
                                                                           </td>
                                                                        </tr>
                                                                        <tr>
                                                                           <td class="body">
                                                                              <p>
                                                                                 {{body}}
                                                                              </p>
                                                                           </td>
                                                                        </tr>
                                                                     </table>{{/replies}}
                                                                     <table width="100%" class="links">
                                                                        <tr>
                                                                           <td class="new_message">
                                                                              <a href="{{new_message_url}}"><span class="viewall">Send a Private Message</span></a>
                                                                           </td>
                                                                           <td class="view_post_td">
                                                                              <a href="{{url}}" class="reply-now"><img src="{{view_post_button_url}}" width="103" height="32" alt="View Post"></a>
                                                                           </td>
                                                                        </tr>
                                                                     </table>
                                                                  </td>
                                                               </tr>
                                                            </table>
                                                         </td>
                                                      </tr>
                                                   </table>
                                                </td>
                                             </tr>
                                             <tr>
                                                <td>
                                                   <span class="post-separator">&nbsp;</span>
                                                </td>
                                             </tr>
                                          </table>
                                          {{/transactions}}
                                          {{/transactions_present}}
                                       </td>
                                    </tr>
                                 </table>
                                 <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
                                    <tr>
                                       <td width="100%" nowrap align="center">
                                          <!--FOOTER-->
                                          <table width="100%" cellpadding="0" cellspacing="0" border="0" class="footer">
                                             <tr>
                                                <td valign="top" class="footershow">
                                                   <span class="post-separator">&nbsp;</span>
                                                   <p>
                                                      <span class="logo" style="margin: 0px auto;text-align:center;padding-bottom: 5px;"><a href="http://placebuilder.org" target="_blank"><img src="http://www.placebuilder.org/assets/shared/redesign/parentslist-logo-lrg.png" alt="Placebuilder" width="150"></a></span>
                                                   </p>
                                                   <p align="center">
                                                      <span class="website" ><a href="{{settings_url}}"><span>Change my email settings</span></a> | <a href="{{root_url}}"><span>{{community_slug}}.Placebuilder.org</span></a></span>
                                                   </p>
                                                   <span class="post-separator">&nbsp;</span>
                                                </td>
                                             </tr>
                                          </table>
                                          <!--END FOOTER-->
                                       </td>
                                    </tr>
                                 </table>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </center>
               </td>
            </tr>
         </tbody>
      </table>
   </body>
</html>
