<html>
  <head>
    <style>
      {{styles}}
    </style>
  </head>
  <body>

    <table id="page-wrapper">
      <tbody>
        <tr>
          <td>
            <center>
              <table id="email-wrapper">
                <tbody>
                  <tr>
                    <td>
                      <table id="header">
                        <tr><td>
                          <a href="{{community_home_url}}"><img src="{{header_image_url}}"></a>
                        </td></tr>
                      </table>
                    </td>
                  </tr>

                  <tr>
                    <td id="content-td">
                      <table id="content">
                        <tbody>
                          <tr>
                            <td>


                              <div class="p">Dear {{short_user_name}},</div>

                              <div class="p">Good news! You have successfully created a community page for {{feed_name}} on <a href="{{community_home_url}}"><span>The {{community_name}} CommonPlace</span></a>! You can now send announcements and events to everyone on CommonPlace through this page. Here are two ways to get the word out:</div>
                              <div class="p">
                                <ul>
                                  <li>Visit your community page at <a href="https://www.ourcommonplace.com/pages/{{feed_slug}}"><span>ourcommonplace.com/pages/{{feed_slug}}</span></a> to post an announcement, post an event or edit your community page.</li>
                                  <li>Use the red box in the upper left of the main page to quickly post announcements or events.</li>
                                </ul>
                                <div class="p">We hope <a href="{{community_home_url}}"><span>The {{community_name}} CommonPlace</span></a> can help you get the word out to the community about your organization's updates and events. Feel free to email Peter Davis at (Pete@CommonPlaceUSA.com) with any questions about how to use your page.</div>

                                <div class="p">Cheers, <br>
                                  The {{community_name}} CommonPlace Team</div>
</td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table id="footer">
                        <tbody>
                          <tr>
                            <td>
                              <div class="p">Improve the {{community_name}} CommonPlace: Click <a href="{{new_invites_url}}"><span>HERE</span></a> to invite more neighbors.</div>
                              <div class="p">Click <a href="{{settings_url}}"><span>here</span></a> to manage your email settings.</div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table id="legal-footer">
                        <tbody>
                          <tr>
                            <td>
                              <div class="p"><a href="{{root_url}}"><span>{{community_slug}}.OurCommonPlace.com</span></a></div>
                              <div class="p copy">&copy; 2011 CommonPlace</div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </center>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
