<html>
  <head>
    <style>
      {{styles}}
    </style>
  </head>
  <body>

    <table id="page-wrapper">
      <tbody>
        <tr>
          <td>
            <center>
              <table id="email-wrapper">
                <tbody>
                  <tr>
                    <td>
                      <table id="header">
                        <tr><td>
                          <img src="{{header_image_url}}">
                        </td></tr>
                      </table>
                    </td>
                  </tr>

                  <tr>
                    <td id="content-td">
                      <table id="content">
                        <tbody>
                          <tr>
                            <td>
                              <table id="greeting">
                                <tbody>
                                  <tr>
                                    <td>

                                      <div class="p">Dear {{invitee_name}},</div>

                                      <div class="p">{{inviter_name}} just invited you to join your neighbors on The {{community_name}} CommonPlace!</div>

                                      <div class="p">The {{community_name}} CommonPlace is a web network built exclusively for the {{community_name}} community.</div>

                                      <div class="p">It takes one minute to sign up, and once you do, you’ll be able to:</div></p>
                                      <div class="p">
                                        <ul>

                                          <li><div class="p">Keep track of important community news from the mayor, the schools, the police</div></li>
                                          <li><div class="p">Organize a basketball game or book club with the people in your community</div></li>
                                          <li><div class="p">Borrow, share, sell stuff easily</div></li>
                                          <li><div class="p">See who lives around you</div></li>
                                          <li><div class="p">Help your neighbors!</div></li>
                                        </ul>
                                      </div>

                                      <div class="p">ACCEPT INVITATION</div>

                                    </td>
                                  </tr>
                                </tbody>
                              </table>

                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table id="footer">
                        <tbody>
                          <tr>
                            <td>
                              <div class="p">Improve the {{community_name}} CommonPlace: Click <a href="{{new_invites_url}}"><span>HERE</span></a> to invite more neighbors.</div>
                              <div class="p">Click <a href="{{settings_url}}"><span>here</span></a> to manage your email settings.</div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table id="legal-footer">
                        <tbody>
                          <tr>
                            <td>
                              <div class="p"><a href="{{root_url}}"><span>{{community_slug}}.OurCommonPlace.com</span></a></div>
                              <div class="p copy">&copy; 2011 CommonPlace</div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </center>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
