<html>
  <head>
    <style>
      {{styles}}
    </style>
  </head>
  <body>

    <table id="page-wrapper">
      <tbody>
        <tr>
          <td>
            <center>
              <table id="email-wrapper">
                <tbody>
                  <tr>
                    <td>
                      <table id="header">
                        <tr><td>
                          <a href="{{community_home_url}}"><img src="{{header_image_url}}"></a>
                        </td></tr>
                      </table>
                    </td>
                  </tr>

                  <tr>
                    <td id="content-td">
                      <table id="content">
                        <tbody>
                          <tr>
                            <td>

                              <div class="p">Hi {{short_user_name}},</div>

                              <div class="p">Welcome to <a href="{{community_home_url}}"><span>The {{community_name}} CommonPlace</span></a>. We're glad to have you here! We hope you can use CommonPlace to share and connect with the {{community_name}} community. Use CommonPlace to:</div>

                              <div class="p">
                                <ul>
                                  <li>Find and share things: "Anyone have a leafblower I could borrow?"</li>
                                  <li>Ask questions to your neighbors: "Anyone know what that construction is on Main Street?"</li>
                                  <li>Propose a meetup: "Anyone want to get together and start a Soccer club?"</li>
                                  <li>Start a town conversation: "How can we improve our elementary schools?"</li>
                                  <li>Publicize events and announcements from your community groups: "Lions Club potluck this Saturday!"</li>
                                  <li>...and much more!</li>
                                </ul>
                              </div>
                              <div class="p">CommonPlace gets better as more neighbors join up. <a href="{{new_invites_url}}"><span>Click here</span></a> to invite your neighbors to CommonPlace. If you ever have ideas about how to make CommonPlace better serve its mission of increasing community connectedness in {{community_name}}, feel free to email us at {{organizer_email}}.</div>

                              <div class="p">Thanks for joining up,<br>
                                The {{community_name}} CommonPlace Team</div>

                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table id="footer">
                        <tbody>
                          <tr>
                            <td>
                              <div class="p">Improve the {{community_name}} CommonPlace: Click <a href="{{new_invites_url}}"><span>HERE</span></a> to invite more neighbors.</div>
                              <div class="p">Click <a href="{{settings_url}}"><span>here</span></a> to manage your email settings.</div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table id="legal-footer">
                        <tbody>
                          <tr>
                            <td>
                              <div class="p"><a href="{{root_url}}"><span>{{community_slug}}.OurCommonPlace.com</span></a></div>
                              <div class="p copy">&copy; 2011 CommonPlace</div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </center>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
