<div id="about">
  <div class="header">
    <h2>About Us</h2> 
    <ul class="nav">
      <li><a href="#">Our Mission</a></li>
      <li><a href="#">Our Story</a></li>
      <li><a href="#">Our Platform</a></li>
      <li><a href="#">Press</a></li>
      <li><a href="#">Civic Hero Awards</a></li>
    </ul>
  </div>
  <div class="content">
    <div class="left">
      <h3>Our Story</h3>
      <p>Blah blah text</p>
    </div>
    <div class="right">
      {{form goes here}}
    </div>
  </div>
</div>