<div id="registration5">
<div id="civicProfile" class="container">
	
<div class="civic_title">Fill Out Your Civic Profile</div>

<div class='civic_left'>
	
</div>

<div class="civic_right">
	<span id="civic_name">Jerry Seinfeld</span><br />
	<input type="text" id="search" class="civic_message">
	<br />
	<input type="text" id="search" class="civic_profile">
	<br />
	<input type="text" id="search" class="civic_orgs">
	<br />
	<input type="text" id="search" class="civic_interests">
	<br />
	<input type="text" id="search" class="civic_skills">
	<br />
	<input type="text" id="search" class="civic_goods">
	<br />
</div>

<div id="civic_button">
	<a href="#" class="blue-button next-button">Continue</a>
</div>

</div>
</div>
