<div id="registration5">
<div id="civicProfile" class="container">
	
<div class="civic_title">Fill Out Your Civic Profile</div>

<div class='civic_left'>
	<img class="profile_pic" src="http://placehold.it/122x122">
	<a href="#" class="civic_upload">UPLOAD NEW PHOTO</a><br /><br />or<br /><br />
	<div href="#" class="civic_facebook"></div>
</div>

<div class="civic_right">
	<span id="civic_name">{{full_name}}</span><br />
	<input type="text" id="search" placeholder="This is a short civic status message" class="civic_message">
	<br />
	<textarea rows="2" cols="20" id="search" placeholder="Tell us a bit about yourself" class="civic_profile"></textarea>
	<br />
	<input type="text" id="search" placeholder="What organizations are you part of?" class="civic_orgs">
	<br />
	<input type="text" id="search" placeholder="What are some of your interests?" class="civic_interests">
	<br />
	<input type="text" id="search" placeholder="What are some of your skills?" class="civic_skills">
	<br />
	<input type="text" id="search" placeholder="What are some goods you own?" class="civic_goods">
	<br />
</div>

<div id="civic_button">
	<a href="#" class="blue-button next-button">Continue</a>
</div>

</div>
</div>
