<div id="registration3">
<div id="findNeighbors" class="container">
	
<img src="/assets/shared/redesign/find_title.png" alt="Find Your Neighbors" class="find_title">

<div id="find_left">
	<h3>Connect with Facebook or Gmail</h3>
	
	<div id="buttons">
		<a href="#"><img src="/assets/shared/redesign/gmail.png">&nbsp;&nbsp;Gmail</a>		
		<a href="#"><img src="/assets/shared/redesign/fb.png">&nbsp;&nbsp;Facebook</a>
	</div>
	
	<div id="neighbor_find">
		<input type="text" id="search" class="findneighbors_search" placeholder="Search for people you know in town…">
	  <ul>
		<li>1. __________________________ </li>
		<li>2. __________________________</li>
		<li>3. __________________________</li>
		<li>4. __________________________</li>
		<li>5. __________________________</li>
		<li>6. __________________________</li>
	</ul>				
	</div>
</div>

<div id="find_right">
	<img src="/assets/shared/redesign/neighbor_map.jpg" alt="Find Your Neighbors" width="270" height="412">
</div>

<div id="find_bottom">
<div id="invite_friends">
	<p>Can we invite your friends to join CommonPlace?</p>
		<ul>
			<li><input type="radio" name="business" value="yes">Yes</li>
			<li><input type="radio" name="business" value="no">No</li>
		</ul>
</div>

<div id="find_button">
	<a href="#" class="blue-button next-button">Continue</a>
</div>

</div>
</div>
