<div class="full-width">
  <div class="community-name">
    <h1><a href="{{home_link}}" data-remote>{{H1}}</a></h1>
  </div>
  <div class="top-bar">
    <h2>{{H2}}</h2>
    <div class="right">
      <!--<input type="text" id="search" class="search" placeholder="Search">-->
      <a href="#" class="messages">Messages</a>
      <a href="#" class="settings">Settings</a>
    </div>
  </div>
</div>
