<div id="page-posting">
  <li id="tags"></li>
  <input placeholder="Post Title" name="title" class="rounded_corners">
  <textarea placeholder="Write your post here!" name="post" rows="15" cols="55" class="rounded_corners"></textarea>
  <button class="red-button">POST NOW</button>
</div>
