<div id="newPost" class="container rounded_corners">

    <div class="links scroll-pane">
	    <h1>What would you like to post?</h1>
    
  <div id="posting_navlinks">
	<ul>
		<li class="conversation"><a
        href="create-conversation"
        class="conversation"
        data-remote>Town Discussion Topic
      </a></li>
      <li class="request"><a
        href="create-request"
        class="request"
        data-remote>Request or Offer
      </a></li>
      <li class="event"><a
        href="create-event"
        class="event"
        data-remote>Event or Meetup
      </a></li>
</ul>
    	</div>
</div>
   
    <div class="form-container discussion">
	<h1>Start a Discussion</h1>
      <form>
		<select name="topics">
			<option value="default">What discussion page do you want to contribute to?</option>
			<option value="Volunteering">Volunteering</option>
			<option value="City Problems">City Problems</option>
			<option value="Safety">Safety</option>
			<option value="News">News</option>
			<option value="Health and Wellness">Health and Wellness</option>
			<option value="Schools">Schools</option>	
		</select>
        <input placeholder="Post Title" name="discussion-title" class="rounded_corners">
        <textarea placeholder="Write your post here!" name="discussion-post" rows="15" cols="55" class="rounded_corners"></textarea>

	<div id="business">
			Are you adverstising on behalf of a business or organizations?<br />		
		<ul>
			<li><input type="radio" name="business" value="yes">Yes</li>
			<li><input type="radio" name="business" value="no">No</li>
		</ul>
	</div>

        <button class="red-button">POST NOW</button>
      </form>
    </div>

    <div class="form-container requests">
      	<h1>Make a Request or Offer</h1>
		<form>
        <input placeholder="Request Title" name="request-title" class="rounded_corners">
        <textarea placeholder="Request Message" name="request-post" class="rounded_corners"></textarea>		

		<div id="request">
			How would you categorize this post?<br />			
			<ul>
				<li><input type="radio" name="request" value="resquest">Request</li>
				<li><input type="radio" name="request" value="offer">Offer</li>
			</ul>
		</div>
		
		<div id="business2">
			Are you adverstising on behalf of a business or organizations?<br />			
			<ul>
				<li><input type="radio" name="business" value="yes">Yes</li>
				<li><input type="radio" name="business" value="no">No</li>
			</ul>
		</div>

        <button class="red-button">POST NOW</button>

      </form>

    </div>

    <div class="form-container events">
	<h1>Publicize an Event or Meetup</h1>
      <form>
        <input placeholder="Event Name" name="event-title" class="rounded_corners">
        <textarea placeholder="Description of your event" name="event-post" class="rounded_corners"></textarea>
        <input placeholder="Date (Monday April 9, 2012)" name="event-date" class="rounded_corners">
        <input placeholder="Starts At" name="event-starttime" class="rounded_corners">
        <input placeholder="Ends At" name="event-endtime" class="rounded_corners">
        <input placeholder="Venue" name="event-venue" class="rounded_corners">
        <input placeholder="Address" name="event-address" class="rounded_corners">		

		<div id="business">
			Are you adverstising on behalf of a business or organizations?<br />
			<ul>
				<li><input type="radio" name="business" value="yes">Yes</li>
				<li><input type="radio" name="business" value="no">No</li>
			</ul>
		</div>

        <a href="../home"><button class="red-button">POST NOW</button></a>

      </form>

    </div>

	<div class="form-container share">
      	<h1>Share with More People?</h1>
		<ul class="share">
			<li><div id="facebookshare">My Facebook Friends</div></li>
			<div id="share_facebook"><h3>Whatever Facebook Code Stuff Here!!!</h3></div>
			<li><a href="#">Email This Post to Friends</a></li>
		</ul>
		<form>
        <input placeholder="Type an email address (seperate with commas)" name="share-email" class="rounded_corners">
		<a href="#" class="share rounded_corners">Connect your Email</a>
		<br /><br /><br /><br />
		<h3>Copy public link</h3>
        <input placeholder="http://ourcommonplace.com/marquette/dogs/12359" name="share-link" class="rounded_corners">
		<a href="#" class="share rounded_corners">Copy to Clipboard</a>


        <button class="green-button">All Done!</button>

      </form>

    </div>

<div class="go-back"><a
  href={{create-post-link}}
  data-remote>Go Back
</a></div>
