<div id="newPost" class="container rounded_corners">

    <div class="links scroll-pane">
	    <h1>What would you like to post?</h1>
    
  <div id="posting_navlinks">
	<ul>
		<li class="conversation"><a
        href="create-conversation"
        class="conversation"
        data-remote>Town Discussion Topic
      </a></li>
      <li class="request"><a
        href="create-request"
        class="request"
        data-remote>Request or Offer
      </a></li>
      <li class="event"><a
        href="create-event"
        class="event"
        data-remote>Event or Meetup
      </a></li>
</ul>
    	</div>
</div>
   
    <div class="form-container discussion">
	<h1>Start a Discussion</h1>
		<div id="discussion_dk">
      <form>
			<select name="discussion_topic" id="discussion_topic" class="dk" tabindex="1">
			<option value="">What discussion page do you want to contribute to?&nbsp;&nbsp;&nbsp;&nbsp;</option>
			<option value="Volunteering">Volunteering</option>
			<option value="City Problems">City Problems</option>
			<option value="Safety">Safety</option>
			<option value="News">News</option>
			<option value="Health and Wellness">Health and Wellness</option>
			<option value="Schools">Schools</option>	
		</select>
	
        <input placeholder="Post Title" name="discussion-title" class="rounded_corners">
        <textarea placeholder="Write your post here!" name="discussion-post" rows="15" cols="55" class="rounded_corners"></textarea>

	<div id="business">
			<select name="advertising" id="advertising" class="dk" tabindex="1">
				<option value="">Advertising on behalf of a business or organization?</option
				<option value="Yes">Yes</option>
				<option value="Yes">Yes</option>
				<option value="No">No</option>	
			</select>
	</div>

        <button class="red-button">POST NOW</button>
</div>
      </form>
    </div>

    <div class="form-container request">
      	<h1>Make a Request or Offer</h1>
		<form>

			<div id="business">
				<select name="advertising" id="advertising" class="dk" tabindex="1">
					<option value="">How would you categorize this post?</option
					<option name="topics" value="resquest">Yes</option>
					<option name="topics" value="request">Request</option>
					<option name="topics" value="offer">Offer</option>	
				</select>
			</div>
				
        <input placeholder="Request Title" name="request-title" class="rounded_corners">
        <textarea placeholder="Request Message" name="request-post" class="rounded_corners"></textarea>		
		
		<div id="business">
				<select name="advertising" id="advertising" class="dk" tabindex="1">
					<option value="">Advertising on behalf of a business or organization?</option
					<option value="Yes">Yes</option>
					<option value="Yes">Yes</option>
					<option value="No">No</option>	
				</select>
		</div>

        <button class="red-button">POST NOW</button>

      </form>

    </div>

    <div class="form-container event">
	<h1>Publicize an Event or Meetup</h1>
      <form>
        <input placeholder="Event Name" name="event-title" class="rounded_corners">
		 <div id="event_date">
			<input class="date rounded_corners" id="date" placeholder="Date" name="date" value="{{date}}" type="text"></div>
	        	<div id="start_at_time">
						<select name="event-starttime" id="start_time" class="dk">
							<option value="">Starts At</option
							<option value="12:00AM">12:00AM</option>
							<option value="12:00AM">1:00AM</option>
							<option value="12:00AM">2:00AM</option>
							<option value="12:00AM">3:00AM</option>
							<option value="12:00AM">4:00AM</option>
							<option value="12:00AM">5:00AM</option>
							<option value="12:00AM">6:00AM</option>
							<option value="12:00AM">7:00AM</option>
							<option value="12:00AM">8:00AM</option>
							<option value="12:00AM">9:00AM</option>
							<option value="12:00AM">10:00AM</option>						
							<option value="12:00AM">11:00AM</option>
							<option value="12:00AM">12:00PM</option>
							<option value="12:00AM">1:00PM</option>
							<option value="12:00AM">2:00PM</option>
							<option value="12:00AM">3:00PM</option>
							<option value="12:00AM">4:00PM</option>
							<option value="12:00AM">5:00PM</option>
							<option value="12:00AM">6:00PM</option>
							<option value="12:00AM">7:00PM</option>
							<option value="12:00AM">8:00PM</option>
							<option value="12:00AM">9:00PM</option>
							<option value="12:00AM">10:00PM</option>
							<option value="12:00AM">11:00PM</option>
						</select>
				</div>
				<div id="end_at_time">
						<select name="event-endtime" id="end_time" class="dk">
							<option value="">Ends At</option
							<option value="12:00AM">12:00AM</option>
							<option value="12:00AM">1:00AM</option>
							<option value="12:00AM">2:00AM</option>
							<option value="12:00AM">3:00AM</option>
							<option value="12:00AM">4:00AM</option>
							<option value="12:00AM">5:00AM</option>
							<option value="12:00AM">6:00AM</option>
							<option value="12:00AM">7:00AM</option>
							<option value="12:00AM">8:00AM</option>
							<option value="12:00AM">9:00AM</option>
							<option value="12:00AM">10:00AM</option>						
							<option value="12:00AM">11:00AM</option>
							<option value="12:00AM">12:00PM</option>
							<option value="12:00AM">1:00PM</option>
							<option value="12:00AM">2:00PM</option>
							<option value="12:00AM">3:00PM</option>
							<option value="12:00AM">4:00PM</option>
							<option value="12:00AM">5:00PM</option>
							<option value="12:00AM">6:00PM</option>
							<option value="12:00AM">7:00PM</option>
							<option value="12:00AM">8:00PM</option>
							<option value="12:00AM">9:00PM</option>
							<option value="12:00AM">10:00PM</option>
							<option value="12:00AM">11:00PM</option>
						</select>
				</div>
        <textarea placeholder="Description of your event" name="event-post" class="rounded_corners"></textarea>
        <input placeholder="Venue Name" name="event-venue" class="rounded_corners">
        <input placeholder="Address" name="event-address" class="rounded_corners">		

		<div id="business">
				<select name="advertising" id="advertising" class="dk" tabindex="1">
					<option value="">Advertising on behalf of a business or organization?</option
					<option value="Yes">Yes</option>
					<option value="Yes">Yes</option>
					<option value="No">No</option>	
				</select>
		</div>

        <a href="../home"><button class="red-button">POST NOW</button></a>

      </form>

    </div>

	<div class="form-container share">
		<h1>Thanks for Posting!</h1>
      	<h3>Would you like to share with more people?</h3>
		<ul class="share">
			<li><div id="facebookshare">My Facebook Friends</div></li>
			<div id="share_facebook"><h3>Whatever Facebook Code Stuff Here!!!</h3></div>
			
			<li><div id="emailshare">Email This Post to Friends</div></li>
			<div id="share_email">
				<form>
	        <input placeholder="Type an email address (seperate with commas)" name="share-email" class="rounded_corners">
			<a href="#" class="share rounded_corners">Connect your Email</a>
			</form><br /><br />
			</div>
	
			<li><div id="linkshare">Copy Public Link</div></li>
			<div id="share_link">
				<form>
					<input placeholder="http://ourcommonplace.com/marquette/dogs/12359" name="share-link" class="rounded_corners">
				</form>
			</div>
		</ul>
			<br /><br />
        <button class="green-button">All Done!</button>

      </form>

    </div>

<div class="go-back"><br /><Br /><a
  href={{create-post-link}}
  data-remote>Go Back
</a></div>
