<div id="registration_content">

<div class="registration1">
<br /><br /><br />
	<h2 style="color: white; font-size: 36px">Welcome to CommonPlace Marquette</h2><br />
	<button class="next-button">Sign up now!</button>
<br /><br /><br />
</div>

</div>
