<div class="registration1">
    <div class="left">
      <div class="tab-content">
          <div class="tab-pane" id="home">
            <h1>Welcome Home!</h1>
            <p class="first">The {{community}} CommonPlace is the easiest way</p><br/>
            <p>to share with your neighors and keep up with what's</p><br/>
            <p>happening in {{community}}.</p><br />
            <p>
            <span class="learn-more">Learn More</span>
          </p>
          </div>
          <div class="tab-pane" id="testimonials">
            <p>asdfa</p>
          </div>
          <div class="tab-pane" id="join">
            <p>asasfasdfasdfdfa</p>
          </div>
          <div class="tab-pane" id="ourtech">
            <p>asdasdfasdfa</p>
          </div>
      </div>
      <div class="navbar">
        <ul class="nav nav-tabs" id="scroller">
          <li><a href="#home" class="mission selected">Our Mission</a></li>
          <li><a href="#story" class="story">Our Story</a></li>
          <li><a href="#platform" class="platform">Our Platform</a></li>
          <li><a href="#press" class="press">Press</a></li>
          <li><a href="#awards" class="awards">Civic Hero Awards</a></li>
        </ul>
      </div>
    </div>
    <div class="right">
      <div id="redbox">
        <figure class="front">
          <h2>Sign Up</h2>
          <form class="registration">
            <input id="full-name" class="name" type="text" placeholder="Full Name" /><br />
            <input class="email" type="email" placeholder="Your Email" /><br />
            <input class="password" type="password" placeholder="New Password" /><br />
			<button class="next-button">Register Now!</button></form>
          <div class="facebook">
            <p>Or you can:</p>
            <a href="#">Facebook</a>
          </div>
          </form>
        </figure>
      </div>
    </div>
  </div>