<div id="newPost" class="form-container share">
  {{#header}}<h1>{{header}}</h1>{{/header}}
  {{#message}}<h3>{{message}}</h3>{{/message}}
  <ul class="share">
    <li><div id="facebookshare"
      data-name="{{item_name}}"
      data-url="{{share_url}}"
      data-picture="{{avatar_url}}"
      data-caption="Join {{community_name}} CommonPlace to share with your neighborhood."
      data-description=""
      data-message="Check out this post from my neighbors...">My Facebook Friends</div></li> 
    <li><div id="emailshare">Email This Post to Friends</div></li>
    <div id="share_email">
      <form>
        <input placeholder="Type an email address (seperate with commas)" name="share-email" class="rounded_corners">
        <a href="#" class="share rounded_corners">Connect your Email</a>
      </form><br /><br />
    </div>

    <li><div id="linkshare">Copy Public Link</div></li>
    <div id="share_link">
      <form>
        <input placeholder="http://ourcommonplace.com/marquette/dogs/12359" name="share-link" class="rounded_corners">
      </form>
    </div>
  </ul>
  <br /><br />
  <button class="green-button">All Done!</button>
</div>
