<div id="newPost" class="form-container share">
  {{#header}}<h1>{{header}}</h1>{{/header}}
  {{#message}}<h3>{{message}}</h3>{{/message}}
  <ul class="share">
    <li>
      <div id="facebookshare">My Facebook Friends</div>
      <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2F{{share_url}}&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=102571013152856" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe> 
    </li>
    <li><div id="emailshare">Email This Post to Friends</div></li>
    <div id="share_email">
      <form>
        <input placeholder="Type an email address (seperate with commas)" name="share-email" class="rounded_corners">
        <a href="#" class="share rounded_corners">Connect your Email</a>
      </form><br /><br />
    </div>

    <li><div id="linkshare">Copy Public Link</div></li>
    <div id="share_link">
      <form>
        <input placeholder="{{share_url}}" name="share-link" class="rounded_corners">
      </form>
    </div>
  </ul>
  <br /><br />
  <button class="green-button">All Done!</button>
</div>
