<div class="form-container share">
  <h3>Share this post with more people!</h3>
  <ul class="share">
    <li><div id="facebookshare">My Facebook Friends</div></li>
    <div id="share_facebook"><h3>Whatever Facebook Code Stuff Here!!!</h3></div>
    
    <li><div id="emailshare">Email This Post to Friends</div></li>
    <div id="share_email">
      <form>
        <input placeholder="Type an email address (seperate with commas)" name="share-email" class="rounded_corners">
        <a href="#" class="share rounded_corners">Connect your Email</a>
      </form><br /><br />
    </div>

    <li><div id="linkshare">Copy Public Link</div></li>
    <div id="share_link">
      <form>
        <input placeholder="http://ourcommonplace.com/marquette/dogs/12359" name="share-link" class="rounded_corners">
      </form>
    </div>
  </ul>
  <br /><br />
  <button class="green-button">Share!</button>
  <button class="red-button">Close</button>
</div>
