<aside style="overflow:auto">
<a href="home/create-post"
  data-remote
  class="red-button post">Post To Your Neighbors!</a>

<div id="your-town"></div>

<div id="directories">
	<div id="directory_nav">
		<h3 class="sidebar-links" title="pages">Your Pages</h3>
    <h3 class="sidebar-links" title="neighbors">Your Neighbors</h3>		
	</div>	
	
  <div id="directory_content"></div>
</div>


</aside>
