<aside>

{{#divs}}<div id="{{.}}"></div>{{/divs}}

<div id="directories">
	<div id="directory_nav">
    {{#links}}<h3 class="sidebar-links" title="{{title}}">{{name}}</h3>{{/links}}
	</div>	
  <div id="directory_content" class="scroll"></div>
</div>

</aside>
