<div id="registration4">
<div id="findNeighbors" class="container">
	
<img src="/assets/shared/redesign/subscribe_title.png" alt="Find Your Neighbors" class="find_title">

<ul class="subscribe_categories">
	<li><a href="#">Business</li>
	<li><a href="#">Municipal</li>
	<li><a href="#">Organization</li>
	<li><a href="#">News</li>
	<li><a href="#">Personal</li>
	<li><a href="#">Discussion</li>										
</ul>

<div id="subscribe_pages">
<ul class="subscribe_pages">
	<li><a href="#"><img src="/assets/shared/redesign/missing.png" class="page_img"><h4>Some Bakery</h4><span class="page_text">Whatever is baking in this oven is going to be delish!</span></a></li>
	<li><a href="#"><img src="/assets/shared/redesign/missing.png" class="page_img"><h4>Monk's Cafe</h4><span class="page_text">Lorem ipsum dolor sit amet, consecteur...</span></a></li>
	<li><a href="#"><img src="/assets/shared/redesign/missing.png" class="page_img"><h4>Monk's Cafe</h4><span class="page_text">Lorem ipsum dolor sit amet, consecteur...</span></a></li>
	<li><a href="#"><img src="/assets/shared/redesign/missing.png" class="page_img"><h4>Monk's Cafe</h4><span class="page_text">Lorem ipsum dolor sit amet, consecteur...</span></a></li>
	<li><a href="#"><img src="/assets/shared/redesign/missing.png" class="page_img"><h4>Monk's Cafe</h4><span class="page_text">Lorem ipsum dolor sit amet, consecteur...</span></a></li>
	<li><a href="#"><img src="/assets/shared/redesign/missing.png" class="page_img"><h4>Monk's Cafe</h4><span class="page_text">Lorem ipsum dolor sit amet, consecteur...</span></a></li>					
</ul>
</div>

<div id="find_bottom">
<div id="invite_friends">
	<p>Are you running an organization? <br /><a href="#" class="subscribe_create">Create A New Page</a></p>
</div>

<div id="find_button">
	<a href="#" class="blue-button">Continue</a>
</div>

</div>
</div>