<div id="registration1">
<div id="findNeighbors" class="container">

<div id="find_left"><br />
	<h3>Just a second...</h3><br /><br />
	<div id="find_button">
		<a href="#" class="blue-button next-button">Continue</a>
	</div>
</div>
</div>
</div>
