<div id="registration1">
	
  <div class="redbox address">
    <h2>Just a second...</h2>
    <p>Before joining the Waterntown Commonplace, take a moment to verify that you are a member of our community!</p>
    <input type="input" type="text" class="address" placeholder="Please enter your {{community}} street address*" /><br />
    <img src="http://placehold.it/388x130" />
    <p class="caption">*We won't share your address with anyone</p>
    <select>
      <option>How did you hear about CommonPlace?</option>
    </select>
	<div id="find_button">
		<a href="#" class="blue-button next-button">Continue</a>
	</div>
	
</div>
