<div id="registration2">
  <div class="welcome">
    <div class="inside">
      <h4>Welcome to</h4>
      <h3>Watertown</h4>
      <div class="white-box">
        <p>Congratulations, Jerry! You're in.</p>
      </div>
      <div class="bottom">
      <p>Use Commonplace to:</p>
      <ul>
        <li>Share needs and announcements with your neighbors</li>
        <li>Meet your neighbors and find great local organizations</li>
        <li>Discover ways to get involved in the community</li>
      </ul>
      <input type="button" value="Continue" />
      </div>
    </div>
  </div>
</div>
