<div id={{links_id}}>
  <ul id="your-pages-list">
		<li class="directory_listing"><a href="#">Lake Superior Theater</a></a></li>
		<li class="directory_listing"><a href="#">Marquette Baking Co.</a></a></li>
		<li class="directory_listing"><a href="#">Graci Design</a></li>
		<li class="directory_listing"><a href="#">Discovery Central</a></li>
		<li class="directory_listing"><a href="#">Gardening Fun</a></li>
		<li class="directory_listing"><a href="#">Kiddie Adventures</a></li>																	
  </ul>
</div>
