<ul class="your-town">
  <li><a id="request" href="" data-remote>Requests & Offers</a></li>
  <li><a id="event" href="" data-remote>Events & Meetups</a></li>
  <li><a id="discussion" href="" data-remote>All Town Discussions</a></li>
  <li><a id="announcement" href="" data-remote>All Announcements</a></li>
</ul>
