<div id="create_page_registration" class="container">
  <div class="registration_border">
    <h2 class="civic_title">Your Service or Organization</h2>
    <span class="divider"></span>
    <div class="create_page">
      <img class="profile_pic" src="/avatars/missing.png" alt="This is your profile photo" />
      <input type="text" class="name" name="name" placeholder="Babysitting service, tutoring, store...">
      <a href="#" class="avatar_file_browse">Upload a Photo</a>
      <textarea rows="2" cols="20" name="about" placeholder="Describe your service or business" class="create_page"></textarea>
      <input type="text" name="address" placeholder="Street Address" class="address">
      <input type="text" name="website" placeholder="Website" class="website half">
      <input type="text" name="phone" placeholder="Phone Number" class="phone half">
      <form>
        <select name="page_kind" class="dk" tabindex="1">
          <option value="">What is your community page for?&nbsp;&nbsp;&nbsp;&nbsp;</option>
          <option value="1">A non-profit</option>
          <option value="2">A community group</option>
          <option value="3">A business</option>
          <option value="4">A muncipal entity</option>
          <option value="5">A newspaper, news service, or news blog</option>
          <option value="6">Other</option>
        </select>
      </form>
    </div>
    <div id="civic_button">
       <a href="#" class="blue-button next-button">Continue</a>
    </div>
  </div>
</div>
