<div id="create_page_registration" class="container">
  <div class="registration_border">
    <div class="civic_title">Create a community page!</div>
    <span class="divider"></span>
     <div id="civic_button">
       <a href="#" class="blue-button next-button">Continue</a>
     </div>
  </div>
</div>
