<div id="create_page_registration" class="container">
  <div class="registration_border">
    <div class="civic_title">Register Your Organization or Service</div>
    <span class="divider"></span>
    <div class="create_page">
      <img class="profile_pic" src="/avatars/missing.png" alt="This is your profile photo" />
      <input type="text" class="name" name="name" placeholder="Carol's Pet Sitting">
      <a href="#" class="avatar_file_browse">Upload a Photo</a>
      <textarea rows="2" cols="20" name="about" placeholder="Describe your service or business" class="create_page"></textarea>
      <input type="text" name="address" placeholder="Street Address" class="address">
      <input type="text" name="website" placeholder="Website" class="website half">
      <input type="text" name="phone" placeholder="Phone Number" class="phone half">
      <input type="text" name="tags" placeholder="Are you registering a service or business?" class="tags">
    </div>
    <div id="civic_button">
       <a href="#" class="blue-button next-button">Continue</a>
    </div>
  </div>
</div>
