<div id="civicProfile" class="container">
	
  <div class="civic_title">Fill Out Your Civic Profile</div>

  <div class='civic_left'>
    <div class="to-facebook">
      <h4>Or use your profile photo and password from Facebook</h4>
      <img class="facebook" src="/assets/buttons/facebookconnect.png" alt="Connect with Facebook">
    </div>
    <div class="not-facebook">
      <div>
        <label class="add-photo" for="photo">Add a profile photo:</label>
        <a href="#" class="avatar_file_browse">Upload Photo</a>
      </div>
    </div>
  </div>

  <div class="civic_right">
    <span id="civic_name">{{user_name}}</span><br />
    <input type="text" name="status" placeholder="This is a short civic status message" class="civic_message">
    <br />
    <textarea rows="2" cols="20" name="about" placeholder="Tell us a bit about yourself" class="civic_profile"></textarea>
    <br />
    <input type="text" name="organizations" placeholder="What organizations are you part of?" class="civic_orgs">
    <br />
    <label for="interests">Share interests with my neighborhood:</label>
    <select name="interests" class="list" multiple="true" data-placeholder="Select some interests">
      {{#interests}} <option value="{{.}}">{{.}}</option> {{/interests}}
    </select>
    <br />
    <label for="skills">Share skills with my neighborhood:</label>
    <select name="skills" class="list" multiple="true" data-placeholder="Select some skills">
      {{#skills}} <option value="{{.}}">{{.}}</option> {{/skills}}
    </select>
    <br />
    <label for="goods">Share goods with my neighborhood:</label>
    <select name="goods" class="list" multiple="true" data-placeholder="Select some goods">
      {{#goods}} <option value="{{.}}">{{.}}</option> {{/goods}}
    </select>
    <br />
  </div>

  <div id="civic_button">
    <a href="#" class="blue-button next-button">Continue</a>
  </div>

</div>
