<li class="check">
  <img src="{{avatar_url}}" class="page_img">
  <h4>{{feed_name}}</h4>
  <span class="page_text">{{feed_about}}</span>
  <input type="checkbox" name="feeds_list" value="{{feed_id}}">
</li>
