<div id="civicProfile" class="container">
  <div class="registration_border">
    <div class="civic_title">Fill Out Your Community Profile</div>
    <span class="divider"></span>
    <div class='civic'>
      <img class="profile_pic" src="/avatars/missing.png" alt="This is your profile photo" />
   	  <input type="text" class="name" name="name" placeholder="John Doe">
      <div class="not-facebook">
        <a href="#" class="avatar_file_browse">Upload a Photo</a>
        <img class="facebook" src="/assets/use_facebook.png" alt="Connect with Facebook">
      </div>

      <textarea rows="2" cols="20" name="about" placeholder="Tell your neighbors something about yourself..." class="civic_profile"></textarea>
      <br />
      <input type="text" name="organizations" placeholder="What organizations are you part of?" class="civic_orgs">
      <br />
      
      <div class="org">
        <p>Do you run an organization? Do you want to sell a service? Register it here so your neighbors can find you.</p>
        <input type="radio" name="org" id="yes">
        <label class="org_yes" for="yes">Yes</label>
        <input type="radio" name="org" id="no">
        <label class="org_no" for="no">No</label>
      </div>
    </div>
     <div id="civic_button">
       <a href="#" class="blue-button next-button">Continue</a>
     </div>
  </div>
</div>
