<div id="post-box" class="form">
	<div class="error"></div>
	<div class="form-container">
	  <h1>Propose a Meet-up</h1>
	  <form>
	    <div class="categorize">
	      <p>Let's</p>
	      <input placeholder="start a pickup game, create a book club..." name="title" class="rounded_corners">
	    </div>
	    <textarea placeholder="Propose a meet-up, group, or mew idea with people in the community" name="body" class="rounded_corners"></textarea>		
	    <div class="spinner"></div>

	    <div id="business">
	      Are you advertising on behalf of a business or organizations?<br />		
	      <ul>
	        <li><input type="radio" name="business" value="yes">Yes</li>
	        <li><input type="radio" name="business" value="no">No</li>
	      </ul>
	    </div>
	    <button class="red-button">POST NOW</button>
	  </form>
	</div>
</div>