<div id="post-box">
	<div class="error"></div>

	<div class="form-container">
	  <h1>Make a Request or Offer</h1>
	  <form>
	    <div class="post_category">
	      <select name="categorize" class="dk" tabindex="1">
	        <option value="">How would you categorize this post?</option>
	        <option name="topics" value="Request">Request</option>
	        <option name="topics" value="Offer">Offer</option>	
	      </select>
	    </div>

	    <input placeholder="Request Title" name="title" class="rounded_corners">
	    <textarea placeholder="Request Message" name="body" class="rounded_corners"></textarea>		
	    <div class="spinner"></div>

	    <div id="business">
	      Are you advertising on behalf of a business or organizations?<br />		
	      <ul>
	        <li><input type="radio" name="business" value="yes">Yes</li>
	        <li><input type="radio" name="business" value="no">No</li>
	      </ul>
	    </div>
	    <button class="red-button">POST NOW</button>
	  </form>
	</div>
</div>