<div id="post-box" class="form">
	<div class="error"></div>

	<div class="form-container">
	  <h1>Start a Discussion</h1>
	  <div class="post_category">
	    <form>
	      <select name="categorize" class="dk" tabindex="1">
	        <option value="">What discussion page do you want to contribute to?&nbsp;&nbsp;&nbsp;&nbsp;</option>
	        <option value="Volunteering">Volunteering</option>
	        <option value="City Problems">City Problems</option>
	        <option value="Safety">Safety</option>
	        <option value="News">News</option>
	        <option value="Health and Wellness">Health and Wellness</option>
	        <option value="Schools">Schools</option>
	      </select>

	      <input placeholder="Post Title" name="title" class="rounded_corners">
	      <textarea placeholder="Write your post here!" name="body" rows="15" cols="55" class="rounded_corners"></textarea>

	      <div class="spinner"></div>
	      <button class="red-button">POST NOW</button>
	    </form>
	  </div>
	</div>
  <div class="close">
    x
  </div>
</div>
