<div id="post-box" class="form modal">
	<div class="error"></div>

	<div class="form-container discuss modal-border">
    <div class="posting-header discuss">
      <h1>Share Community Thoughts</h1>
      <span>Discuss a town topic with your neighbors</span>
    </div>
    <div class="seam">
    </div>	  
    <div class="post_category">
      <form>
        <select name="group_selector" class="chzn-select" tabindex="1">
          <option value="">What discussion page do you want to contribute to?&nbsp;&nbsp;&nbsp;&nbsp;</option>
          {{#groups}}
          <option value="{{id}}">{{name}}</option>
          {{/groups}}
        </select>

        <input type="text" placeholder="Post Title" name="title" class="rounded_corners">
        <textarea placeholder="Write your post here!" name="body" rows="15" cols="55" class="rounded_corners"></textarea>

        <div class="spinner"></div>
        <button class="red-button submit">POST NOW</button>
      </form>
    </div>
  </div>
  <div class="close">
    x
  </div>
</div>
