<div id="post-box" class="form">
  <div class="error"></div>

  <div class="form-container modal-border">
    <div class="posting-header requests">
      <h1>Requests</h1>
      <span>Ask your neighbors a question</span>
    </div>
    <div class="seam">
    </div>
    <form>
      <input type="text" placeholder="Request Title" name="title" class="rounded_corners">
      <textarea placeholder="Request Message" name="body" class="rounded_corners"></textarea>
      <div class="spinner"></div>

      <button class="red-button submit">POST NOW</button>
    </form>
  </div>
  <div class="close">
    x
  </div>
  <button class="back red-button">Back</button>
</div>
