<div id="post-box" class="form">
  <div class="error"></div>

  <div class="form-container modal-border">
    <div class="posting-header requests">
      <h1>Sell on the Marketplace</h1>
      <span>Sell something to your neighbors (or give it away for free!)</span>
    </div>
    <div class="seam"></div>
    <form>
      <input type="text" placeholder="Title" name="title" class="rounded_corners" >
      <textarea placeholder="Message" name="body" rows="15" cols="55" class="rounded_corners description"></textarea>
      <div class="upload-section">
        <div class="box">
          <img class="item_pic" src="/avatars/missing.png" alt="This is a picture of the item for sale" style="width: 50px; height: 50px;"/>
        </div>
        <button class="image_file_browser">Upload Image</button>
      </div>
      <input type="text" placeholder="Price" name="price" class="rounded_corners price" >

      <div class="spinner"></div>
      <button class="red-button">POST NOW</button>
    </form>
  </div>
  <div class="close">
    x
  </div>
</div>
