<div id="post-box" class="form">
  <div class="error"></div>

  <div class="form-container">
    <h1>Sell Something!</h1>
    <form>
      <input placeholder="Title" name="title" class="rounded_corners">
      <input placeholder="Price" name="price" class="rounded_corners">
      <textarea placeholder="Sell something or give it away!" name="body" rows="15" cols="55" class="rounded_corners"></textarea>

      <div class="spinner"></div>
      <div id="business">
        Are you advertising on behalf of a business or organizations?<br />		
        <ul>
          <li><input type="radio" name="business" value="yes">Yes</li>
          <li><input type="radio" name="business" value="no">No</li>
        </ul>
      </div>

      <button class="red-button">POST NOW</button>
    </form>
  </div>
</div>
