<div id="account-nav">
  <br><br><br><br>
  <a
    href="/{{community_slug}}/account"
    class="account nav-tab"
    data-remote>
    Account Settings
  </a>

  <br>
  <a
    href="/{{community_slug}}/profile"
    class="profile nav-tab"
    data-remote>
    Profile Settings
  </a>
</div>
