<div class="directory_nav">
  <h3 title="pages" class="directory_tab pages-filter">Your Pages</a>
  <h3 title="users" class="directory_tab users-filter">Your Neighbors</a>
</div>

<div id="directory_lists">
  <div id="directory_search">
    <input type="text" class="search" placeholder="Search&hellip;">
    <div class="remove_search">X</div>
  </div>

  <div id="directory_failed_search">
    Sorry, we couldn't find anything
  </div>

  <div id="directory_results" class="scroll">
    <ul></ul>
  </div>
</div>

