<div id="nav_wrapper">
  
  <div class="community-name">
    <a href="{{root_url}}">
      {{#hasCommunity}}
        <h1 class="community">
          {{community_name}}
        </h1>
      {{/hasCommunity}}
    </a>
  </div>
  <div class="nav"></div>

</div>
