<div id="nav_wrapper">
  
  <div class="community-name">
    <a href="{{root_url}}">
    <h1>{{#hasCommunity}}
      {{community_name}}
    {{/hasCommunity}}</h1>
    </a>
  </div>
  <div class="nav"></div>

</div>
