.message-modal, .modal-container
  position: absolute
  background-image: url(shared/redesign/tan-bg.png)
  +border-radius(5px)
  z-index: 2000000

  .error
    background-color: #f4e15f
    border: 2px solid #ffe534
    +border-radius(3px)
    color: #363636
    display: none
    margin-top: 5px
    margin-bottom: 15px
    padding: 5px
    font-family: Helvetica, Arial, sans-serif
    font-size: 14px
    text-align: center

  table
    width: 390px
    margin-top: 2px
    border: none
    +border-radius(5px)
    tr:nth-child(even)
      background-color: #ddd
    tr:nth-child(odd)
      background-color: white
    tr:first-child
      td:first-child
        +border-top-left-radius(5px)
      td:last-child
        +border-top-right-radius(5px)
    tr:last-child
      td:first-child
        +border-bottom-left-radius(5px)
      td:last-child
        +border-bottom-right-radius(5px)
    td
      padding: 10px 9px
      font-size: 13px
      font-family: Helvetica, sans-serif
      a
        color: #ac322f
        text-decoration: none
        &:hover
          text-decoration: underline
    .right
      text-align: right

  .unimportant
    color: #aaa
    
  .avatar
    text-align: center
    margin-top: 15px
    
    img
      vertical-align: middle
      margin-right: 5px
      +border-radius(2px)
      
    .avatar-controls 
      margin: 15px auto

      a 
        background-color: #555
        color: white
        font-weight: bold
        padding: 5px
        border-left: 1px solid #888
        margin: 0
        margin-left: -4px
        Helvetica, sans-serif
        text-decoration: none

        &:first-child
          border-left: 0px
          +border-left-radius(5px)

        &:last-child
          +border-right-radius(5px)

        &:hover
          background-color: #888
          text-decoration: underline

  form
    +form
    width: 392px
    padding: 15px
    display: block

    h1
      font-family: Rokkitt, Rockwell, Helvetica, sans-serif
      font-size: 16px
      color: #fff
      text-align: center

    label
      display: block
      margin-top: 20px
      font-family: Rokkitt, Rockwell, Helvetica, sans-serif
      font-size: 16px
      color: #fff

    input[type=text]
      margin-top: 2px
      width: 372px

    textarea
      margin-top: 2px
      width: 372px

    .controls
      margin-top: 20px
      text-align: right

      button
        +blue-button
        margin-left: 15px
        float: none

    a.cancel, a.delete
      color: #fff
      font-size: 15px
      font-family: Rokkitt, Rockwell, Helvetica, sans-serif
      text-decoration: none
      &:hover
        text-decoration: underline

    a.delete
      right: 15px
      position: absolute
      margin-top: 2px

#modal-shadow
  +opacity(0.8)
  background-color: #000
  position: fixed
  top: 0
  bottom: 0
  right: 0
  left: 0
  z-index: 1000000

div.form-container.share ul

div.form-container.share ul li   
  list-style-type: none  
  padding-top: 10px  
  padding-bottom: 10px  
  text-shadow: black 0 0 0  
  padding-left: 45px  
  background: url(shared/redesign/check-off.png) no-repeat 5px 6px
  cursor: pointer
  clear: both
  &:hover, &:focus, &:active
    background-color: rgba(255, 255, 255, 0.4)

  div
    font: 18px/20px 'Rokkitt', RockwellSTD, Rockwell, sans-serif
    color: $blue
    position: relative
    top: 3px
    margin-left: 10px
    &:hover, &:focus, &:active
      color: $red
  a:hover
    color: $red

div.form-container.share ul li#facebookshare
  font: 18px/20px 'Rokkitt', RockwellSTD, Rockwell, sans-serif
  color: $blue
  position: relative
  top: 3px
  margin-left: 0px
  padding-left: 40px
  &:hover, &:focus, &:active
    color: $red
  a:hover
    color: $red
div.form-container.share
  width: 285px
  padding: 40px
  position: absolute
  margin-left: 40%
  margin-top: 2%
  #share_email
    input
      width: 267px
      padding: 10px 8px
      margin-bottom: 15px
  #share_link
    input
      width: 267px
      padding: 10px 8px
      margin: 0px

h1
  font: 32px 'Rokkitt', RockwellSTD, Rockwell, sans-serif
  text-align: center
  text-shadow: 1px 1px 1px white
  color: $blue

h3   
  font: 16px Helvetica, sans-serif
  text-shadow: 1px 1px 1px white
  color: black
  margin-bottom: 10px

a.share
  color: $red
  text-decoration: none
  text-transform: uppercase
  position: relative
  font: bold 11px "Helvetica Neue", "Helvetica", "Arial"
  padding: 8px
  float: right
  bottom: 15px
  background-color: #D7D5C6
  margin-top: 10px
  &:hover, &:focus, &:active
    background-color: $red
    color: white

div.share
  text-decoration: none

  h3
    font: 13px Helvetica, sans-serif
    margin: 20px 0px 10px 0px

  button.green-button   
    float: left
    font-size: 20px
    padding: 10px 5px
    width: 100%
    height: 40px
    text-decoration: none
    cursor: pointer
    text-transform: uppercase

#share-email 
  display: none

#share_link
  display: none