.replies-area
  padding: 1px 20px 0 40px
  position: relative
  font-family: Helvetica, sans-serif
  margin-top: 0
  
  .replies-more
    display: block
    font-size: 11px
    text-transform: uppercase
    //color: #B7403C
    font-weight: bold
    text-align: center
    color: #243248
    margin-top: 0px
    text-decoration: none
    border-top: 1px dotted #ddd
    padding-top: 20px
    margin-left: 45px
    &:hover
      text-decoration: underline
    .small 
      font-size: 8px

.replies-area .reply-item
  margin: 20px 0px 0px 45px
  padding: 0px
  &:first-child
    padding-top: 20px
    border-top: 1px dotted #ddd
    margin-top: 0px

  &:hover
    a.delete-reply, a.thank-reply, .thanked-reply
      color: #b7403c
    .thanked-reply
      color: #bebebe
      
  .avatar-container
    width: 30px
    height: 30px
    float: left
    background-position: top center
    background-size: auto 100%
    background-repeat: no-repeat
    border-radius: 5px
    background-color: #ccc

  .reply-info
    padding-top: 0px
    margin-left: 45px

  .author, .body
    margin-left: 0
    line-height: 18px
    font-size: 13px

  .author
    margin-bottom: 0
    margin-right: 5px
    margin-top: 0
    position: relative
    font-weight: bold
    color: $blue
    float: left
    line-height: 18px

  .body, h1, h2, h3, h4, h5, h6
    color: #444
    margin-top: 0px
    margin-bottom: 0px
    p
      margin-top: 0px
      vertical-align: top

  h1, h2, h3, h4, h5, h6
    font-weight: bold

  .time
    color: #999
    font-size: 12px
    margin: 0px
    vertical-align: top
  .star
    color: #ccc
  .thanks_count
    text-decoration: none
    cursor: pointer
    color: $red
    font-weight: normal
    font-size: 12px
    text-transform: none  
    &:hover
      text-decoration: underline
      color: $red
  .thanks_text, .thanked-reply
    color: #999
    text-decoration: none
    font-weight: normal
    font-size: 12px
    text-transform: none

  a.delete-reply, a.thank-reply
    display: inline
    font-size: 12px
    margin-left: 8px
    padding-right: 2px
    text-decoration: none
    font-family: $body
    font-weight: bold
    vertical-align: top
    text-transform: capitalize
      
  a.delete-reply, a.thank-reply
    color: white
    &:hover
      text-decoration: underline
    
  .controls
    font-family: $body
    font-weight: normal
    font-size: 12px
    color: #999
    vertical-align: top
    display: block
    a
      &:hover
        color: $red
        
div.comment
  margin-top: 5px
  float: left
  
.replies form.new-reply
  margin-top: 13px
  .avatar-container
    overflow: hidden
    float: left
    background-color: #ccc
    background-position: top center
    background-size: auto 100%
    background-repeat: no-repeat
    width: 30px
    height: 30px
    border-radius: 5px
    
  .reply-text
    float: left
    margin-left: 13px

    textarea 
      font-family: Helvetica, Arial, sans-serif
      font-size: 12px
      color: #888
      background: white
      border: 1px dotted #ddd
      padding: 8px 10px
      height: 12px
      width: 525px
      line-height: 14px
      position: relative
      &:hover
        border: 1px solid #ccc
      &:focus
        outline: none
        color: #333
        border-color: 1px solid #ccc
        
    .enter-hint
      display: none
      font-size: 12px
      color: #909090
      

.submit-c
  display: none
  padding: 7px 14px
  background: #ac322f
  border-radius: 4px
  float: right
  font-size: 11px
  font-weight: bold
  color: white
  text-transform: uppercase
  margin-right: 0px
  margin-bottom: 10px
  letter-spacing: 1px
  +linear-gradient(color-stops(#d0413d, #ac322f), top)
  border: 1px solid
  border-color: #ac322f
  box-shadow: inset 0px 1px 1px #e28986
  &:hover, &:focus
    color: #fff
    +linear-gradient(color-stops(#ee5a56, #b53633), top)
    text-shadow: 1px 1px 1px #541513
    box-shadow: 0px 2px 4px #adab9f
    cursor: pointer
  &:active
    color: #fff
    +linear-gradient(color-stops(#d64541, #ac322f), bottom)
    text-shadow: -1px -1px -1px #cb5450
    cursor: pointer
.waiting
  background: white
  background-image: image-url("loading.gif")
  height: 20px
  width: 20px
  position: relative
  margin-right: 10px
  #submit_text
    display: none
