@import "../base.sass"

#main 
  background-color: rgba(0, 0, 0, 0.25)
  width: 1000px 
  margin: 0 auto
  .wire
    width: 650px
    margin: 0px auto
      right: 24px
      top: -10px
    position: relative
    .wire-item 
      background: white
      margin-bottom: 24px
      border-radius: 5px
    .wire-top
      height: 30px
      border-radius: 4px
      border-bottom-left-radius: 0
      padding: 2px
      border-bottom-right-radius: 0      
      //background: $light-grey image-url("shared/redesign/background.gif")
      box-shadow: inset 0px 1px 0px #fff
      border-bottom: 1px dotted #D7D5C6
      background-color: #F5F3E9
      h3
        font: bold 18px $heading
        float: left
        color: $blue
        font-size: 18px
        padding-left: 30px
        background: image-url("shared/redesign/wire-icon.png") left no-repeat       
        background-position: 5px 5px
        padding: 6px 0px 2px 30px
        width: 300px
        height: 20px
        font-weight: normal
      p
        font-family: $heading
        font-size: 16px
        color: $blue
        text-shadow: 1px 1px 1px white
        float: right
        padding: 8px 10px 0px 0px
      p:last-child
        padding-right: 4px
      .editlink 
        color: $red
    .post-content
      padding: 20px
        bottom: 5px
      h3, p
        margin-left: 65px
        font-family: $body
        color: $black
        font: 13px/18px $body
        margin-bottom: 10px
      h3 
        font-size: 22px
        font-weight: bold
        margin-bottom: 5px
        margin-top: -3px
        line-height: 26px
        text-shadow: none
      p.author
        font-size: 13px
        color: $blue
        font-weight: bold
        margin-bottom: 5px
        position: relative
      a
        color: $red
        font-family: $body
        text-decoration: none
        &:hover
          text-decoration: underline
          
      p.post-text
        font-size: 13px
        line-height: 18px
      .avatar-container
        width: 50px
        height: 50px
        float: left
        background-position: top center
        background-size: auto 100%
        background-repeat: no-repeat
        border-radius: 4px
        background-color: #ccc
      img
        width: 100%
        height: 100%
    .post-action
      margin-left: 85px
      font-family: $body
      font-size: 10px
      font-weight: bold
      color: $red
      height: 37px
      margin-right: 20px
      margin-bottom: 0px
      span.thank
        color: $dark-grey
      p
        float: left
      p.how-many
        float: right
        color: $dark-grey
        text-shadow: 1px 1px 1px white
        text-transform: none
        font-size: 11px
      .actions
        border-top: 1px dotted
        //border-bottom: 1px dotted
        height: 35px
        border-color: #ddd
        li
          border-right: 1px dotted
          border-color: #ddd
          float: left
          font-size: 12px
          padding: 10px 10px 12px 10px
          &:first-child
            padding-left: 19px
          &:last-child
            border-right: none 
        li.reply-link
          margin-left: 0
          background: image-url("shared/redesign/reply.png") no-repeat
          padding-left: 21px
          background-position: 0 10px
          &:hover, &:focus, &:active
            background: image-url("shared/redesign/replied.png") no-repeat
            padding-left: 21px
            background-position: 0 10px
            color: $dark-grey
        li.share-link
          background: image-url("shared/redesign/publicize.png") no-repeat
          padding-left: 31px
          background-position: 10px 8px
          &:hover, &:focus, &:active
            background: image-url("shared/redesign/publicized.png") no-repeat
            padding-left: 31px
            background-position: 10px 8px
            color: $dark-grey
        li.thank-link
          background: image-url("shared/redesign/thank.png") no-repeat
          padding-left: 33px
          background-position: 10px 10px
          &:hover, &:focus, &:active
            background: image-url("shared/redesign/thanked.png") no-repeat
            padding-left: 33px
            background-position: 10px 10px
            color: $dark-grey
        li.flag-link
          background: image-url("shared/redesign/flag.png") no-repeat
          padding-left: 31px
          background-position: 10px 10px
          &:hover, &:focus, &:active
            background: image-url("shared/redesign/flagged.png") no-repeat
            padding-left: 31px
            background-position: 10px 10px
            color: $dark-grey
    .post-interaction
      margin-left: 80px
      font-size: 12px
      margin-right: 20px
      .interaction
        border-color: #e6e6e6
        margin-left: 0
        margin-right: 0
        font-family: Helvetica Neue, Helvetica, Tahoma, serif
        color: #555555
        border-bottom-style: none
        border-bottom-width: 1px
        .blue
          color: $blue
          font-weight: bold
        .thanked
          padding-left: 22px
          padding-top: 13px
          background: image-url("shared/redesign/thanked.png") no-repeat
          height: 13px
          background-position-y: 13px
          margin-bottom: 13px
          border-top: 1px dotted #e4e4e4
        .publicized
          padding-left: 22px
          background: image-url("shared/redesign/publicized.png") no-repeat
          height: 15px
          padding-top: 3px
          border-top: 1px dotted #e4e4e4
    .post-replies
      padding: 0px 20px 5px 20px
      p
        margin-left: 60px
        padding-top: 13px
      p.author
        font-size: 13px
        color: $blue
        font-weight: bold
        font-family: $body
        float: left
        margin-left: 15px
        margin-right: 10px
        vertical-align: bottom
      p.reply-text
        font-size: 13px
        font-family: $body
        border-top: 1px dotted #E4E4E4
      p.reply-actions
        margin: 5px 0px 10px 60px
        font-size: 12px
        font-family: $body
        padding-top: 0
        color: lighten($dark-grey, 15%)
        span.reply-thank
          color: $red
        span.reply-thanked
          color: lighten($dark-grey, 15%)
      img
        width: 25px
        padding-top: 13px
        height: 25px
        float: left
        margin-left: 20px
    &.multi-column
      margin: 20px 0px 0px 20px
      float: left
      width: 382px
      .post-content
        p.post-text
          margin-left: 10px
      .post-action
        margin-left: 0px
      .post-interaction
        margin-left: 0px
      .post-replies
        .post-reply
          width: 250px
        p
          margin-left: 35px
        img
          margin-left: 0px
    .post-shadow
      width: 100%
      height: 5px
      position: relative !important
      bottom: -15px
    .shadow_left
      float: left
      width: 50%
      height: 15px
      background: image-url("shared/redesign/post-shadow-left.png") no-repeat
      background-position: bottom left
      position: absolute
      bottom: 0px
      left: 5px
    .shadow_right
      float: right
      width: 50%
      height: 15px
      background: image-url("shared/redesign/post-shadow-right.png") no-repeat
      background-position: bottom right
      position: absolute
      bottom: 0px
      right: 5px
    .wire-group
      width: 100%
      float: left
    .wire-header
      margin: 20px 20px 0px
      height: 40px
      .header-display
        margin: auto
        border-radius: 4px
        background: $light-grey image-url("shared/redesign/background.gif")
        box-shadow: inset 0px 1px 0px 0px white
        border-bottom: 1px solid 
        border-color: lighten($dark-grey, 20%)
        h3
          font-family: $heading
          text-align: center
          color: $blue
          font-size: 18px
          background-position: 5px 5px
          padding: 11px


#content div.list div.wire div.post-replies p.replies
  display: none

input::-webkit-input-placeholder
  color: #888

ul.actions li
  cursor: pointer

div.bottom input.next-button
  height: 50px


div.post-action.clear ul.actions li
  font: bold 12px $body
  padding-left: 33px

#community-resources div.resources div.wire div.events.wire ul.wire-list li.wire-item div.post-content table.event-location
  margin-left: 90px
  margin-top: 10px
  font: 12px/20px "Helvetica Neue", Helvetica, sans-serif
  color: $blue