@import core
@import base

#feed-nav ul
  padding: 0 25px

#feed-nav ul li a
  text-decoration: none
  font-family: "Rokkitt", RockwellSTD, Rockwell, sans-serif
  color: #1b334a
  text-shadow: none
  font-size: 20px
  padding-top: 10px
  padding-bottom: 8px
  padding-left: 43px
  background: url(/assets/shared/redesign/sidebar-icon.png) no-repeat left
  line-height: 40px

#feed-nav ul li a.subscribers
  background: image-url("shared/redesign/request-offer-icon.png") no-repeat left

#feed-nav ul li a.events
  background: image-url("shared/redesign/event-icon.png") no-repeat left

#feed-nav ul li a.discussion
  background: image-url("shared/redesign/discussions-icon.png") no-repeat left

#feed-nav ul li a.announcements
  background: image-url("shared/redesign/announcements-icon.png") no-repeat left

div#feed div#left-column div#sidebar
  margin-top: 28px
  margin-left: 50px

div#feed div#right-column
  width: 645px
  float: right
  margin-top: 50px
  margin-right: 80px

#wire div.feed-announcements.tab.current div.wire ul.wire-list li.wire-item 
  div.post-content img
    width: 50px
    float: left
    height: 50px

  div.post-content h3
    font-size: 18px
    line-height: 22px

  div.post-action.clear
    margin-left: 0
    padding-left: 15px

  div.replies-area div.replies div.comment form.new-reply.clear img.avatar
    margin-left: 0

  div.replies-area div.replies div.comment form.new-reply.clear div.reply-text textarea.reply-text-entry
    width: 210px

#directory_content
  height: 100%
  width: 244px
  background-color: #FCFAF4
  padding: 0px 10px 10px 10px
  position: relative
  bottom: 0px
  overflow: hidden
  border: 1px solid #D7D5C6
  .subscribers
    img
      height: 32px
      width: 32px
    h3
      font-family: $heading
      font-size: 15px
      color: $blue
      text-shadow: 1px 1px 1px white
      border-bottom: 1px solid #c5c2b5
      padding-bottom: 5px
      text-transform: capitalize
    .subscriber
      margin-left: 0px
      border-bottom: 1px dotted
      border-color: lighten($dark-grey, 30%)
      padding-bottom: 15px
      padding-top: 15px
      height: 30px
      width: auto
      overflow: hidden
      white-space: nowrap
      cursor: pointer
      &:last-child
        border-bottom: none
      &:hover
        h4
          color: $red
  .your-neighbors
    .neighbor
      margin-left: 0px
      border-bottom: 1px dotted #ddd
      //border-color: lighten($dark-grey, 30%)
      box-shadow: 0px 1px 0px rgba(255, 255, 255, 1.0)
      padding-bottom: 5px
      padding-top: 15px
      width: auto
      overflow: hidden
      white-space: nowrap
      cursor: pointer
      &:last-child
        border-bottom: none
        box-shadow: none
      &:hover
        white-space: normal
        height: inherit
        p
          float: right
          width: 187px
          margin: 0px
          padding-bottom: 10px
        h4
          color: $red
      h4
        font-family: $heading
        color: $blue
        font-weight: bold
        font-size: 18px
        line-height: 16px
        margin-bottom: 5px
        margin-right: 10px
        text-overflow: ellipsis
        overflow: hidden
        text-transform: capitalize
      p
        font-family:  $body
        font-size: 13px
        color: lighten($black, 10%)
        text-overflow: ellipsis
        overflow: hidden
        margin-top: 3px
        line-height: 15px
      .avatar-container
        width: 32px
        height: 32px
        border-radius: 5px
        margin-bottom: 10px
        overflow: hidden
        margin-right: 10px
        float: left
        background-color: #ccc
        background-position: top center
        background-size: auto 100%
        background-repeat: no-repeat
        img
          width: 100%
          height: 100%
  .page
    margin-left: 0px
    border-bottom: 1px dotted #ddd
    //border-color: lighten($dark-grey, 30%)
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 1.0)
    padding-bottom: 5px
    padding-top: 15px
    width: auto
    overflow: hidden
    cursor: pointer    
    white-space: nowrap
    &:last-child
      border-bottom: none
      box-shadow: none
    &:hover
      white-space: normal
      height: inherit
      p
        float: right
        width: 187px
        margin: 0px
        padding-bottom: 10px
      h4
        color: $red
    h4
      font-family: $heading
      color: $blue
      font-weight: bold
      font-size: 18px
      line-height: 16px
      margin-bottom: 5px
      margin-right: 10px
      text-overflow: ellipsis
      overflow: hidden
      text-transform: capitalize
    p
      font-family:  $body
      font-size: 13px
      color: lighten($black, 10%)
      text-overflow: ellipsis
      overflow: hidden
      margin-top: 3px
      line-height: 15px
    .avatar-container
      width: 32px
      height: 32px
      border-radius: 5px
      margin-bottom: 10px
      overflow: hidden
      margin-right: 10px
      float: left
      background-color: #ccc
      background-position: top center
      background-size: auto 100%
      background-repeat: no-repeat
      img
        width: 100%
        height: 100%

#directory_content div ul li
  border-bottom: 1px dotted #cfcfcf
  padding-bottom: 15px
  padding-top: 10px

div#feed div#right-column #wire
  width: 800px
	
  div.feed-announcements.tab.current div.wire
    width: 800px

    ul.wire-list li.wire-item
      float: left
      width: 385px
      margin-right: 15px

#sidebar aside img.avatar
  width: 244px
  margin: 25px