$blue: #1b334a
$dark-blue: #151f28
$light-blue: #32485c
$red: #ac322f
$dark-red: darken($red, 20%)
$black: #333
$dark-grey: #888
$light-grey: #e8e8e8
$off-grey: #eeecdf
$search-box: #b7c3cf
$dark-tan: #bcbbae

$Ultra: 'Ultra'
$Yellowtail: 'Yellowtail'
$Rokkitt: 'Rokkitt'

/* Woo Fonts */
$heading: 'Rokkitt', RockwellSTD, Rockwell, sans-serif
$body: Helvetica Neue, Helvetica, Tahoma, serif

/* Woo Shadows */
$black-shadow: 0px 2px 1px black

/* Woo Buttons */
.red-button
  background: $red
  border-radius: 4px
  color: #fff
  text-shadow: 1px 1px 1px #541513
  font-weight: bold
  height: 18px
  font-family: $heading
  +linear-gradient(color-stops(#d0413d, #ac322f), top)
  display: block
  font-size: 22px
  text-decoration: none
  border: 1px solid
  border-color: #ac322f
  box-shadow: inset 0px 1px 1px #e28986
  padding: 15px
    top: 8px
    bottom: 16px
  &:hover, &:focus
    color: #fff
    +linear-gradient(color-stops(#ee5a56, #b53633), top)
    text-shadow: 1px 1px 1px #541513
    box-shadow: 0px 2px 4px #adab9f
  &:active
    color: #fff
    +linear-gradient(color-stops(#d64541, #ac322f), bottom)
    text-shadow: -1px -1px -1px #cb5450

.green-button
  background: green
  border-radius: 4px
  color: #eeecdf
  text-shadow: 1px 1px 1px black
  font-weight: bold
  height: 18px
  font-family: $heading
  +linear-gradient(color-stops(#62AF46, #569E3F), top)
  display: block
  font-size: 20px
  text-decoration: none
  border: 1px solid
  border-color: #569E3F
  box-shadow: inset 0px 1px 1px #569E3F
  padding: 15px
    top: 13px
    bottom: 13px
  &:hover, &:focus
    color: #fff
    +linear-gradient(color-stops(#62AF46, #569E3F), top)
    box-shadow: 0px 2px 4px #adab9f
  &:active
    color: #fff
    +linear-gradient(color-stops(#62AF46, #569E3F), bottom) 
    
.blue-button 
  background: #2e5172
  border-radius: 0px
  color: #eeecdf
  text-shadow: 1px 1px 1px black
  font-weight: bold
  height: 18px
  font-family: RockwellSTD, Rockwell, sans-serif
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2e5172), color-stop(100%, #1c344b))
  background-image: -webkit-linear-gradient(top, #2e5172, #1c344b)
  background-image: -moz-linear-gradient(top, #2e5172, #1c344b)
  background-image: -o-linear-gradient(top, #2e5172, #1c344b)
  background-image: -ms-linear-gradient(top, #2e5172, #1c344b)
  background-image: linear-gradient(top, #2e5172, #1c344b)
  display: block
  font-size: 20px
  text-decoration: none
  border: 1px solid
  border-color: #1c344b
  box-shadow: inset 0px 1px 1px #2e5172
  padding: 13px 15px
  width: 92px
  float: right
  position: relative
  right: 72px
  top: 95px

/* Overall Styles */
.right
  float: right
.left
  float: left
.clear
  clear: both

html
  background: image-url("shared/redesign/bg.jpg") no-repeat center center fixed
  background-size: cover
  -webkit-background-size: cover 

$darkRed: #ad312f
$darkBlue: #1b334a

#current-tour-page, #next-tour-page
  display: none
  position: absolute
  z-index: 2000000
  padding-bottom: 30px
  font-family: Rockwell, Georgia, Times, "Times New Roman", serif

#tour-shadow
  position: fixed
  top: 0 
  left: 0
  bottom: 0 
  right: 0
  background-color: black 
  @include opacity(0.5)
  z-index: 1000

#tour
  position: fixed
  z-index: 1001
  left: 2
  top: 0
  margin-left: 15%
  margin-top: 10%

.welcome
  background-image: image-url("shared/redesign/welcomebg.png")
  width: 440px
  height: 400px
  padding: 120px 65px 100px 70px

.welcome-to
  background: image-url("tour/welcome-to.png") no-repeat center
  height: 36px

  .community-name 
  margin-top: 10px
  color: $darkBlue
  font-size: 50px
  font-family: Rockwell, Georgia, Times, serif
  text-shadow: 1px 1px 1px #fff, 3px 3px 0 $darkRed
  font-weight: bold
  text-align: center

.welcome .inside 
  position: relative
  top: 125px
  width: 495px
  left: 15px 

.welcome h4 
  font-family: $Yellowtail
  color: white
  font-size: 30px
  margin: 0
  position: relative
  top: 10px
  text-align: center 

.welcome h3 
  font-family: $Rokkitt
  font-size: 80px
  text-align: center
  letter-spacing: 1px
  text-shadow: 6px 5px 0px #1B334A
  color: white
  margin: 0
  text-transform: capitalize 

.welcome .white-box 
  width: 400px
  margin: 0 auto
  margin-top: 20px
  padding: 15px
  padding-top: 20px
  padding-bottom: 20px
  border-radius: 5px
  background: white
  text-align: center 

.welcome p 
  margin: 0
  font-family: $Rokkitt
  color: #ffffff
  font-size: 23px 

.welcome .bottom 
  width: 430px
  font-size: 18px
  margin: 0 auto
  margin-top: 20px
  color: white
  font-family: $Rokkitt 

.welcome ul 
  font-family: $Rokkitt
  padding-left: 15px
  margin: 0 auto
  margin-top: 15px 

.welcome ul li 
  color: white
  margin-bottom: 6px
  font-size: 15px
  line-height: 35px
  background: url(shared/redesign/bullet_star.png) no-repeat 0 6px
  text-indent: 23px

.white-box p 
  color: $blue

#findNeighbors 
  width: 630px
  height: 550px
  overflow: scroll
  background-color: #eeecdf
  background: url(shared/redesign/red-bg.png)
  z-index: 1000
  margin-top: 5%
  margin-right: auto
  margin-left: 170px
  margin-bottom: 30px
  padding-bottom: 20px

  img.find_title 
    margin: 15px auto 0px 30px

li div.check h4
  font: bold 13px Helvetica, sans-serif
  color: #1f3952

li div.check span.page_text
  font: 12px Helvetica, sans-serif
  color: #1a1918
  overflow: hidden

#civicProfile 
  width: 630px
  height: 100%
  overflow: auto
  background-color: #eeecdf
  background: url(shared/redesign/red-bg.png)
  z-index: 1000
  margin-top: 100px
  margin-right: auto
  margin-left: auto
  margin-bottom: 30px
  padding-bottom: 20px

  img.find_title 
    margin: 15px auto 0px 30px

#find_left 
  width: 270px
  height: 412px
  float: left
  margin-left: 30px
  margin-right: 5px

#find_right 
  width: 270
  height: 412
  float: right
  margin-right: 30px
  margin-left: 5px

#buttons a 
  background: #2e5172
  border-radius: 0px
  color: #ffffff
  text-shadow: 1px 1px 1px black
  height: 17px
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2e5172), color-stop(100%, #1c344b))
  background-image: -webkit-linear-gradient(top, #2e5172, #1c344b)
  background-image: -moz-linear-gradient(top, #2e5172, #1c344b)
  background-image: -o-linear-gradient(top, #2e5172, #1c344b)
  background-image: -ms-linear-gradient(top, #2e5172, #1c344b)
  background-image: linear-gradient(top, #2e5172, #1c344b)
  display: block
  text-decoration: none
  border: 1px solid
  border-color: #1c344b
  box-shadow: inset 0px 1px 1px #2e5172
  padding: 0px 15px 11px
  width: 97px
  float: right
  position: relative
  font: bold 13px/0 RockwellSTD, Rockwell, sans-serif
  margin-left: 6px
  top: 10px

  img 
    position: relative
    top: 4px

#find_left h3 
  font-family: RockwellSTD, Rockwell, sans-serif
  color: #fffeff
  text-shadow: #000000 0px 0px 0

#search 
  width: 226px
  margin-left: -14px
  margin-top: -13px
  font-size: 13px

#invite_friends 
  width: 225px
  font: 13px RockwellSTD, Rockwell, sans-serif
  line-height: 20px
  color: #ffffff
  float: left
  text-align: left
  margin-left: 37px
  margin-top: 0px

  ul 
    height: 23px
    position: relative
    bottom: 7px
    margin-bottom: 10px

    li 
      display: inline-block
      margin-left: 21px

      input 
        width: 25px
        height: 25px
        position: relative
        top: 5px

#neighbor_find 
  height: 300px
  background-color: #eeede0
  margin-top: 57px
  padding: 20px

ul li 
  font-family: RockwellSTD, Rockwell, sans-serif
  line-height: 47px

#findNeighbors ul.subscribe_categories
  width: 556px
  margin: 0px auto

  li 
    display: inline-block
    height: 30px
    margin-left: 0px
    margin-right: 0px
    padding: 0px 13px 10px 0px
    border-radius: 5px

#findNeighbors ul.subscribe_categories li:hover 
  display: inline-block
  background-color: #1b334a

#findNeighbors ul.subscribe_categories li a 
  color: #fffeff
  font-size: 13px
  text-decoration: none
  padding-left: 15px


#subscribe_pages 
  width: 560px
  margin-right: auto
  margin-left: auto
  height: 380px
  overflow: scroll

#subscribe_pages ul.subscribe_pages li 
  overflow: hidden
  width: 240px
  display: inline-block
  padding: 15px
  background-color: #e9ded0
  margin-right: 8px
  margin-bottom: 0
  margin-top: 8px
  height: 50px

#subscribe_pages ul.subscribe_pages li:hover
  background-color: $blue
  color: $dark-tan
  a h4
    color: $dark-tan
    font: 14px Helvetica, sans-serif
  a span.page_text
    color: $dark-tan
    font: 12px Helvetica, sans-serif

#subscribe_pages ul.subscribe_pages li a 
  display: inline-block
  float: left
  color: $dark-tan

#subscribe_pages ul.subscribe_pages li a img.page_img 
  width: 50px
  height: 50px
  float: left


#subscribe_pages ul.subscribe_pages li a h4 
  font: bold 14px Helvetica, Arial, sans-serif
  width: 165px
  margin-left: 15px
  overflow: hidden
  color: #1b334a
  float: left

#subscribe_pages ul.subscribe_pages li a span.page_text 
  color: #1a1918
  font: 12px Helvetica, Arial, sans-serif
  width: 160px
  padding-left: 15px
  margin-top: 4px
  float: left

#invite_friends p
  font-size: 14px
  line-height: 27px
  margin-top: 15px

#invite_friends p a 
  font-size: 14px
  line-height: 21px
  color: #fffeff
  text-decoration: underline

#registration1 div.redbox.address div#find_button a.blue-button.next-button
  position: relative
  top: 35px
  right: 25px

#find_button a.blue-button.next-button
  position: relative
  margin-right: -24px
  top: 20px
  right: 74px

img.page_img
  width: 64px
  height: 64px
  float: left

#subscribe_pages a h2
  color: #e9ded0
  margin-top: 15px

.find_neighbors
  width: 380px
  float: right
  div.button
    float:left
    margin-left: 16px
    text-transform: uppercase
    font-weight: bold
    font-size: 10px
    background: #1b334a
    padding: 4px 12px
    color: white
  input.name, input.email
    float: left
    width: 130px
  input.search
    width: 371px
    +border-radius(5px)
    +box-shadow(#ccc 1px 1px 2px 0 inset)
    border: 1px solid #ccc
    padding: 5px 5px
    font-size: 18px
    font-weight: 300
    display: block
    font-family: Helvetica, sans-serif
  .know
    line-height: 25px
    margin-top: 12px
    background: #8C2523
    width: 367px
    +border-radius(4px)
    padding: 5px
    color: white
    font-family: Helvetica
    font-size: 14px
    text-align: center
  .remove_search
    position: absolute
    top: 43px
    right: 30px
    width: 25px
    height: 25px
    background-repeat: no-repeat
    &.loading
      background-image: image-url("shared/icons/waiting.gif")
    &.active
      background-image: image-url("shared/icons/cancel.png")
      cursor: pointer
    &.inactive
      background-image: image-url("icons/search.png")
  
  .neighbor_finder, .search_finder
    margin-top: 10px
    width: 380px
    background: white
    overflow-y: scroll
    height: 285px
    +border-radius(5px)
    border: 1px solid black
    
    .no_results, .initial_load
      background: white
      +border-radius(5px)
      text-align: center
      margin-top: 10px
      padding: 5px
      margin-left: 10px
      margin-right: 10px
      .query
        color: #1b334a
        font-weight: bold
        
    .initial_load
      height: 120px
      background-image: image-url("loading.gif")
      background-position: center center
      background-repeat: no-repeat
    
    table 
      font-family: Helvetica
      font-size: 13px
      border-spacing: 10px
      border-collapse: separate
      background: white
      
      td
        width: 150px
        padding: 10px
        margin-top: 14px
        border: 1px solid #dadada
        border-collapse: collapse
        &.checked, &:hover
          &.checked, &:hover
            background: #EEF5DF
            cursor: pointer
          &.checked
            border: 1px solid #CCDAAE
            +box-shadow(#bbb 2px 2px 2px)
        img
          float: left
          margin-right: 10px
        .lName
          margin-top: 3px
        .on-commonplace
          font-size: 8px
          margin-top: 12px
          color: #ac322f
        input[type=checkbox]
          display: none

#RealFindNeighbors
  width: 670px
  background-color: #eeecdf
  background: url(shared/redesign/red-bg.png)
  z-index: 1000
  margin: 70px auto 30px
  position: fixed
  padding-bottom: 20px
  font-family: 'Rokkitt', RockwellSTD, Rockwell, sans-serif
  color: #fff
  right: 380px

  #search 
    width: 556px
    height: 20px
    margin: 10px 0px 15px 0px
    font-size: 13px
    padding: 5px

  .find_title
    font-family: $Yellowtail
    font-size: 36px
    margin: 20px auto 30px auto
    text-shadow: 4px 4px 1px $blue
    text-align: center
    background: url(shared/redesign/neighbors_stars.png) no-repeat 29px -16px

  .find_known
    width: 590px
    font-size: 24px
    padding: 18px 0px 18px 0px
    text-align: center
    background: darken($red, 13%)
    margin: 0px auto 30px auto

  .find_steps
    width: 566px
    margin-left: 60px

    p
      line-height: 14px
      font-size: 17px

  #buttons
    margin-bottom: 25px
    margin-left: -10px
    width: 275px
    a 
      background: #2e5172
      border-radius: 0px
      color: #ffffff
      text-shadow: 1px 1px 1px black
      height: 17px
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2e5172), color-stop(100%, #1c344b))
      background-image: -webkit-linear-gradient(top, #2e5172, #1c344b)
      background-image: -moz-linear-gradient(top, #2e5172, #1c344b)
      background-image: -o-linear-gradient(top, #2e5172, #1c344b)
      background-image: -ms-linear-gradient(top, #2e5172, #1c344b)
      background-image: linear-gradient(top, #2e5172, #1c344b)
      display: block
      text-decoration: none
      border: 1px solid
      border-color: #1c344b
      box-shadow: inset 0px 1px 1px #2e5172
      padding: 0px 15px 11px
      width: 97px
      position: relative
      font: bold 13px/0 RockwellSTD, Rockwell, sans-serif
      margin-left: 6px
      top: 10px

      img 
        position: relative
        top: 4px

  #invite_friends
    p
      width: 450px
      margin-left: 30px
    ul
      margin-left: 5px

div#RealFindNeighbors div#find_bottom #invite_friends
  margin-left: 31px

div#RealFindNeighbors div#find_bottom
  margin-top:  -20px

div.welcome div.bottom input.next-button.blue-button
  width: 130px
  position: relative
  top: 15px
  right: 150px
  cursor:  pointer

div.welcome
  position: relative
  right: 150px

div#findNeighbors.container div#find_bottom #find_button a.blue-button.next-button
  margin-top: -5px