<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link href="/assets/home.css" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Ultra' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="fb-root"></div>
    <header>
    </header>

    <div id="modal"></div>

    <div class="full-width">
		<div id="registration_content">
		</div>

      <div id="sidebar">
      </div>

      <div class="main" id="content">
      </div>

    </div>

    <script type="text/javascript" src="/assets/home.js"></script>

    <script type="text/javascript">
      var _kmq = _kmq || [];
      var _kmk = _kmk || '<%= $KissmetricsAPIToken %>';
      function _kms(u){
        setTimeout(function(){
          var d = document, f = d.getElementsByTagName('script')[0],
          s = d.createElement('script');
          s.type = 'text/javascript'; s.async = true; s.src = u;
          f.parentNode.insertBefore(s, f);
        }, 1);
      }
      _kms('//i.kissmetrics.com/i.js');
      _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
    </script>

    <% if @account.present? %>
      <script type="text/javascript">
        _kmq.push(['identify', '<%= @account.email %>']);
      </script>
    <% end %>

  </body>
</html>
