<div id="nav_wrapper" class="pie-element">
  <div class="header_left">
    {{#isAuth}}
    {{#isGuest}}
    <a href="{{community_url}}">
      <h1 class="community">
        <img src="/assets/shared/redesign/parentslist-logo.png" alt="ParentsList">
      </h1>
    </a>
    {{/isGuest}}
    {{^isGuest}}
    <a href="{{community_url}}" style="width: 27px; overflow: hidden; float: left; margin: 15px 0px 0px 15px; display: block;">
      <img src="/assets/shared/redesign/parentslist-logo.png" alt="ParentsList">
     </a>
    <div class="button-wrapper pie-element">
      <a href="" class="red-button post pie-element">Post To Your Neighbors!</a>
    </div>
    {{/isGuest}}
    {{/isAuth}}
  </div>
  <div class="header_center"></div>
  <div class="header_right"></div>
</div>
