{{^isGuest}}
<input type="text" id="search-header" class="pie-element" placeholder="Search {{community_name}}..." >
{{/isGuest}}
{{#isGuest}}
<h1 style="font-size: 22px; margin-top: 8px;letter-spacing:0px;font-weight: normal;color: #444;margin-left: 15px;text-shadow: none;">{{community_name}}</h1>
{{/isGuest}}
