strong
  font-weight: bold
  
em
  font-style: italic

.clear
  clear: both
  
body
  font-family: $heading
  background-size: cover !important
  -webkit-background-size: cover !important
  //@include background(linear-gradient(top, #efebd9, #f5eabf))
  //background-attachment: fixed
  //background-color: #ec8056
  background-color: #d7e9ef
  //background: url('https://cache.nebula.phx3.secureserver.net/obj/MTc0ODc3NEQyRTEwMzBENUY4NTU6YjQ2ZTRiZjg3NzYwMjljNzYzZjkzMWUzYWZhNTU5ZTI=')
  //background: url('http://resources.newhomesource.com/uploadedImages/NewHomeSource/Resource_Center/Articles/Settling_In/shutterstock_112588013.jpg') no-repeat top right fixed #dfdcd5
  background: url("https://www.ourcommonplace.com/assets/shared/redesign/backgrounds/Lexington.jpg") no-repeat center center fixed #d7e9ef
  //background-position: 252px 60px
  
h1, h2, h3, h4, h5
  font-weight: normal
  
sup
  font-size: smaller
  vertical-align: super
  line-height: 8px

a
  color: $black
  
#main
  width: 970px !important
  //width: 100% !important
  position: relative
  margin: 0px auto
  
#zenbox_tab
  z-index: 800 !important
  
::-webkit-scrollbar
  width: 11px
  cursor: pointer
::-webkit-scrollbar-track
  //background-color: rgba(0, 0, 0, 0.15)
  //background-image: url(shared/redesign/tan-bg.png)
  //background-color: #D5D1C8
  background-color: #dfdcd5
  //border-radius: 10px
::-webkit-scrollbar-thumb
  //border-radius: 10px
  background-color: #b4cfd8
  //@include background(linear-gradient(right , #d0413d, #ac322f))
  box-shadow: inset 1px 0px 0px rgba(255,255,255,0.30) !important
  cursor: pointer !important
