textarea::-webkit-input-placeholder
  color: #555
textarea:-moz-placeholder
  color: #555
textarea.placeholder
  color: #555

input.placeholder, textarea.placeholder
  color: #555
input:-ms-input-placeholder
  color: #555
input::-webkit-input-placeholder
  color: #555
input:-moz-placeholder
  color: #555


#search-header::-webkit-input-placeholder
  color: #FCFAF4 !important
  text-shadow: 1px 1px 0px rgba(0,0,0,0.65)
  behavior: url("/assets/PIE.htc")

#search-header
  &:focus::-webkit-input-placeholder
    color: white !important
    text-shadow: none
    behavior: url("/assets/PIE.htc")