textarea::-webkit-input-placeholder
  color: #555
textarea:-moz-placeholder
  color: #555
textarea.placeholder
  color: #555

input.placeholder, textarea.placeholder
  color: #555
input:-ms-input-placeholder
  color: #555
input::-webkit-input-placeholder
  color: #555
input:-moz-placeholder
  color: #555


#search-header::-webkit-input-placeholder
  color: #FCFAF4 !important
  text-shadow: 1px 1px 0px rgba(0,0,0,0.65)

#search-header
  &:focus::-webkit-input-placeholder
    color: white !important
    text-shadow: none
    
#directory_search
  input 
    width: 186px
    border-radius: 20px
    box-shadow: 0px none
    //margin-top: -1px
    //border-top: none
    border: 1px solid rgba(0,0,0,0.25)
    padding: 4px 4px 4px 42px
    margin: 15px 10px 20px 10px
    font-size: 15px
    text-shadow: 1px 1px 0px white
    background-color: #fff
    background-image: url("shared/redesign/search-icon.png")
    background-position: 8px 6px
    background-repeat: no-repeat
    &:hover, &:focus
      outline: none
      border: 1px solid rgba(0,0,0,0.45)
      color: #131313
      background-color: white
      box-shadow: inset #EAEAEA 0px 0px 3px 2px
      -webkit-input-placeholder: #ccc !important

.wire 
  input.placeholder, textarea.placeholder
    color: #888
  input:-ms-input-placeholder
    color: #888
  input::-webkit-input-placeholder
    color: #888
  input:-moz-placeholder
    color: #888
