#header
  //background: $red
  background-color: #fffdfa
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05)
  //box-shadow: 0px 2px 3px rgba(0,0,0,0.10), inset 0px -1px 0px #fbfbfb
  //border-bottom: 1px solid #D34F49
  border-bottom: 1px solid #ddd
  //background-color: #ec8056
  //linear-gradient(color-stops(#fbfbfb, #f2f2f2))
  padding-top: 15px
  padding-bottom: 15px
  a
    text-decoration: none

  .remove_border
    border:
      top: 1px solid #ccc
      bottom: none !important
      left: 1px solid #ccc
      right:  1px solid #ccc
    +border-radius(5px 5px 0px 0px)
  .border
    border: 1px solid #ccc
    +border-radius(5px)


  &.about, &.app
    .header_left
      h1
        //color: white
        //text-shadow: $black-shadow
        //font-size: 26px
        font-family: $heading
        text-align: left
        font-weight: bold
        a
          text-decoration: none
          color: white
      .home-logo
        width: 26px
        height: 40px
        overflow: hidden
        float: left
        margin: 0px 0px 0px 15px
        cursor: pointer
        background-image: url('shared/redesign/parentslist-logo-red.png')
        //background-image: url("shared/redesign/flag-logo.png")
        background-position: 0px 0px
        background-repeat: no-repeat
        //&:hover
          background-position: 0px -26px
    #user_sign_in, .choose_town_container
      h3
        color: white
        font-size: 13px
        text-shadow: 1px 1px 0px black
        font-family: $heading
      .button
        padding: 7px 8px 9px
        border-radius: 4px 
        box-shadow: inset 0 1px 0px rgba(255,255,255,0.3)
        cursor: pointer
        font-family: $heading
        font-size: 15px
        font-weight: bold
        color: white
        //border: 1px solid rgba(0,0,0,0.25)
        text-align: center
        text-shadow: 0px -1px 0px rgba(0,0,0,0.25)
      .blue
        +linear-gradient(color-stops(#2e5274, #1b334a))
        &:hover, &:focus
          color: #fff
          +linear-gradient(color-stops(#3e6b96, #1b334a), top)
          box-shadow: inset 0 1px 1px rgba(255,255,255,.5)
        &:active
          color: #fff
          +linear-gradient(color-stops(#2e5274, #1b334a), bottom)
      .red
        background: lighten($red, 2%)
        //background: $red
        border: 1px solid rgba(0,0,0,0.15)
        //+linear-gradient(color-stops(#cc4441, #ac322f))
        &:hover, &:focus
          background: lighten($red, 5%)
          box-shadow: inset 0 1px 0px rgba(255,255,255,0.4), 0px 1px 1px rgba(0,0,0,0.25)
          color: #fff
          //+linear-gradient(color-stops(#ea4e4a, #ac322f), top)
        &:active
          color: #fff
          //+linear-gradient(color-stops(#cc4441, #ac322f), bottom)
      .dropdown
        background: url("shared/redesign/tan-bg.gif") repeat #faf8f0
        //background-image: url("shared/redesign/tan-bg.png")
        text-align: center
        +border-radius(4px)
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25)
        //border: 1px solid white
        .arrow
          background: url("shared/redesign/arrow.png") no-repeat
          background-position: 100px 12px
        input
          -webkit-appearance: none
          font-size: 15px
          padding: 8px
          font-family: $heading
          color: #131313
          background-color: #FEFFFE
          border: 1px solid #dedbcd
          box-shadow: inset #eee 0px 0px 3px 2px,0px 1px 0px #fff
          -webkit-font-smoothing: antialiased
          &:focus
            outline: none
        input::-webkit-input-placeholder
          color: #555
        input:-moz-placeholder
          color: #555
        button.signin
          text-align: center
          +red-button
          padding: 8px 0 10px 0
          //+linear-gradient(color-stops(#2e5274, #1b334a))
          //font-weight: bold
          font-size: 16px
          //padding-top: 10px
          //padding-bottom: 8px
          -webkit-font-smoothing: antialiased
          //background-color: #1b334a
          //text-shadow: -1px -1px 0px #333
          //&:hover, &:focus
            color: #fff
            +linear-gradient(color-stops(#3e6b96, #1b334a), top)
            box-shadow: inset 0 1px 0px rgba(255,255,255,0.5)
          //&:active
            color: #fff
            +linear-gradient(color-stops(#2e5274, #1b334a), bottom)
        button.signin.facebook
          font-size: 16px
          padding: 8px 0 10px 0
          +linear-gradient(color-stops(#4e6fb6, #3b5998))
          -webkit-font-smoothing: antialiased
          background-color: #3b5998
          text-shadow: -1px -1px 0px #333
          border-color: #333
          box-shadow: inset 0 1px 0px rgba(255,255,255,.5)
          &:hover, &:focus
            color: #fff
            +linear-gradient(color-stops(#5c83d7, #3b5998), top)
            box-shadow: inset 0 1px 0px rgba(255,255,255,.5)
          &:active
            color: #fff
            +linear-gradient(color-stops(#4e6fb6, #3b5998), bottom)
        p 
          padding: 12px 0px 13px 0px
          text-align: left
          font-family: $heading
          cursor: pointer
          color: #666
          font-size: 13px
          font-weight: normal
          text-shadow: 1px 1px 0px white
          -webkit-font-smoothing: antialiased
          &:hover
            text-decoration: underline
      #choose_town.dropdown
        ul#town_list
          box-shadow: inset #ddd 0px 0px 3px 2px, #fff 0px 1px 0px
          border: 1px solid #d7d5c5
          li
            border-bottom: 1px dotted #ddd
            font-family: $heading
            font-size: 18px
            line-height: 24px
            text-align: left
            color: $black
            background-color: #fff
            &:last-child
              border: 0px
            &:hover
              background-color: #eee
              color: $black
              cursor: pointer
            a
              padding: 8px 10px
              color: #555
              cursor: pointer
              &:hover
                color: $red

  &.app 
    #nav_wrapper
      border-left: 1px solid #eee
      //border-right: 1px solid #588257
      box-shadow: inset 1px 0px 0 0 #fff
      .header_left
        //border-left: 1px solid #588257
        border-right: 1px solid #fff
        box-shadow: inset -1px 0px 0 0 #eee
      .button-wrapper
        background-image: url("shared/redesign/button-tail.png")
        background-color: transparent
        background-repeat: no-repeat
        background-position: 0px -2px
        //&:hover
          background-position: 0px -42px
          cursor: pointer
          .red-button           
            box-shadow: inset 0px -1px 0px rgba(255,255,255,0.5), 0px 2px 0px rgba(0, 0, 0, 0.10)
            //background: url('shared/redesign/button-bg.png') no-repeat 0px 0px #FAF8F0
            //color: $dark-grey
            //+linear-gradient(color-stops(#ee5a56, #b53633), top)
            behavior: url("assets/PIE.htc")
        //&:active
          background-position: 0px -82px
          .red-button
            box-shadow: inset 0px -1px 0px rgba(255,255,255,0.5) !important
            //background: url('shared/redesign/button-bg.png') no-repeat 0px -35px #FAF8F0
            //color: #888
            text-shadow: 0px 1px 0px white
            //+linear-gradient(color-stops(#d64541, #ac322f), bottom)
            //text-shadow: 0px 1px 0px #64100D
            behavior: url("assets/PIE.htc")
        .red-button
          font-size: 15px
          text-align: center
          padding: 9px 6px 8px 6px
          font-weight: normal
          //border-color: #e9a05e
          //color: $dark-grey
          //border: 0px none
          //background-color: $red
          //background-color: #faf8f0
          //background: url('shared/redesign/tan-bg.gif') repeat #FAF8F0
          //border-left: 0px none
          //text-shadow: 1px 1px 0px white
          //box-shadow: inset 0px 1px 0px rgba(255,255,255,0.5), 0px 2px 0px rgba(0, 0, 0, 0.15)
          //border-bottom: 2px solid rgba(0,0,0,0.75)
          //box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3)
          behavior: url("assets/PIE.htc")
          &:hover
            background: lighten($red, 5%)
          //&:hover, &:focus
            box-shadow: inset 0px -1px 0px rgba(255,255,255,0.5), 0px 2px 0px rgba(0, 0, 0, 0.10)
            //background: url('shared/redesign/button-bg.png') no-repeat 0px 0px #FAF8F0
            //color: $dark-grey
            //box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.6), 0px 1px 0px rgba(0,0,0,0.20)
          //&:active
            box-shadow: inset 0px 1px 0px rgba(255,255,255,0.5) !important
            //background: url('shared/redesign/button-bg.png') no-repeat 0px -35px #FAF8F0
            //color: #666
            text-shadow: 0px -1px 0px white
            //box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 1px 0px rgba(0,0,0,0.20)
            //box-shadow: inset 0px -1px 0px rgba(255,255,255,0.20)
          //&:after
            border-top: 8px transparent #8a2a23
            border-left: 8px transparent
            border-right: 8px transparent
            &:hover, &:focus
              border-top: 8px solid #cf4643
            &:active
              border-top: 8px solid #c33c39

      #logo
        text-decoration: none
        text-align: left
        color: #fff
        font-size: 30px
        line-height: 30px
        +text-shadow(#000 -1px 1px 0)
        span
          font-family: $heading
          color: #AC322F
          font-size: 25px
        img
          vertical-align: bottom

      h1
        color: white
        text-shadow: 0px 2px 1px rgba(0,0,0,0.25)
        font-size: 32px
        //letter-spacing: -2px
        font-family: $heading
        text-align: left
        font-weight: bold
        a
          text-decoration: none
          color: white

      .nav, .header_search
        #search-header
          font-size: 15px
          padding: 6px 10px 5px
          border-radius: 4px
          //background-color: rgba(0,0,0,0.10)
          //background-color: #f49671
          //background-color: white
          color: #131313
          font-weight: normal
          //text-shadow: 1px 1px 0px rgba(0,0,0,0.65)
          //text-shadow: 1px 1px 0px #f7bca6
          -webkit-font-smoothing: antialiased
          border: 1px solid #eee
          box-shadow: 0px 1px 0px white, inset 1px 1px 3px rgba(0, 0, 0, 0.1)
          -webkit-input-placeholder: #9d6651 !important
          behavior: url("assets/PIE.htc")
          &:active, &:focus, &:hover
            outline: none
            //text-shadow: 1px 1px 0px white
            border: 1px solid #ddd
            //color: #131313 !important
            //color: #131313
            background-color: white
            //background-color: #f9ece6
            //background-color: rgba(0,0,0,0.12)
            //box-shadow: 0px 1px 0px white, inset 1px 1px 4px rgba(0, 0, 0, 0.15)
            -webkit-input-placeholder: #777 !important
          //&:active, &:focus
            outline: none
            background-color: white
            //background-color: rgba(0,0,0,0.04)
            color: $black
            text-shadow: none
            box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.20), 0px 1px 0px rgba(255, 255, 255, 0.15)
            behavior: url("assets/PIE.htc")
        li
          padding-top: 12px

        .avatar-container
          border-radius: 25px
          background-color: white
          background-size: cover
          background-position: center center
        li.account
          -webkit-font-smoothing: antialiased
          padding: 8px 7px 8px 7px
          font-family: $heading
          font-size: 15px
          font-weight: normal
          border: 1px solid #f3f0ea !important
          color: $dark-grey
          text-transform: capitalize
          border-radius: 4px
          background-color: #FAF8F0
          background: url('shared/redesign/tan-bg.gif') repeat #FAF8F0
          //+linear-gradient(color-stops(#f2f2f2, #eee))
          //+linear-gradient(color-stops(#2e5274, #1b334a), top)
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.35), inset 0px 1px 0px white
          text-shadow: 1px 1px 0px white
          cursor: pointer
          span.arrow
            font-size: 17px
            color: $red
            font-weight: bold
            text-shadow: 1px 1px 0px white
            -webkit-font-smoothing: antialiased          
          a
            color: $dark-grey
            text-shadow: 1px 1px 0px white
            &:hover
              color: $dark-grey
          &:hover, &:focus
            //box-shadow: 0px 3px 3px rgba(0,0,0,0.25), inset 0px 1px 0px white
            +border-bottom-right-radius(0px)
            +border-bottom-left-radius(0px)
            behavior: url("assets/PIE.htc")
            //a
              color: $dark-grey
            span.arrow
              color: #777
              //text-shadow: -1px -1px 0px rgba(0,0,0, 0.35)
          //&:active
            color: #fff
            +linear-gradient(color-stops(#2e5274, #1b334a), bottom)
            text-shadow: -1px -1px -1px rgba(0,0,0,.65)
            box-shadow: 1px 1px 1px rgba(0,0,0,.25)

          ul.account-sub
            //+linear-gradient(color-stops(#f2f2f2, #eee))
            //background-color: #f8f7f2
            background: url('shared/redesign/tan-bg.gif') repeat #FAF8F0
            box-shadow: 0px 4px 3px rgba(0,0,0,0.25), inset 0px -1px 0px white
            font-family: $heading
            text-shadow: 1px 1px 0px white
            //border-top: 0px !important
            border: 1px solid #f3f0ea !important
            +border-top-right-radius(0px)
            +border-bottom-right-radius(4px)
            +border-top-left-radius(4px)
            +border-bottom-left-radius(4px)
            padding: 0
            behavior: url("assets/PIE.htc")
            li
              padding: 0
              border-bottom: 1px solid #f3f0ea
              border-top: 1px solid white
              &:first-child
                //border-top: 1px solid #f3f0ea
                +border-top-left-radius(4px)
                //box-shadow: inset 0px 1px 0px white
                padding-top: 2px 
              &:last-child
                border-bottom: 0px none
                &:hover
                  +border-bottom-left-radius(4px)
                  +border-bottom-right-radius(4px)
              &:hover
                background-color: white
                color: $red
              a
                padding: 10px 10px 9px 10px
                font-family: $heading
                font-size: 13px
                line-height: 15px
                font-weight: normal
                color: #666
                span.inbox_number
                  background-color: $red
                  //color: rgba(255,255,255,0.65)  
                  color: white            
                  border-radius: 40px
                  padding: 2px 3px
                  text-align: center
                  text-shadow: none
                  box-shadow: 0px 1px 0px white
                  //box-shadow: 0px 1px 0px rgba(255,255,255,0.15), inset 1px 1px 1px rgba(0,0,0,0.45)
                  font-size: 12px
                  font-weight: bold
                  font-family: $body
                  behavior: url("assets/PIE.htc")
                &:hover
                  color: $red
                  //span.inbox_number
                    background-color: #999
                    color: white
                    box-shadow: 0px 1px 0px white
                    //text-shadow: 1px 1px 0px #000

.badger-outter
  min-width: 20px
  height: 20px
  position: absolute
  top: -5px
  left: -10px
  z-index: 9999
  
.badger-inner
  border-radius: 20px
  -moz-border-radius: 20px
  -webkit-border-radius: 20px
  float: right
  padding: 1px
  box-shadow: 1px 1px 2px rgba(0,0,0,0.75), inset 0px 1px 1px rgba(255,255,255,0.45)
  border: 1px solid #ac322f
  background: #ca3934
  background: -moz-linear-gradient(100% 100% 90deg, #ca3934, #d0413d)
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d0413d), to(#ca3934))
  background: -webkit-linear-gradient(#d0413d, #ca3934)
  background: -o-linear-gradient(#d0413d, #ca3934)
  z-index: 99999
  behavior: url("assets/PIE.htc")
.badger-badge
  color: #fff
  padding: 2px 4px
  margin: 0
  text-align: center
  text-shadow: 0px -1px 1px #000
  z-index: 999999
  font-family: $body
.badger-text
  font-size: 12px
  
.badger-number
  font-size: 11px

.registration_banner
  display: none
  width: 100%
  position: fixed
  //top: 51px
  //background-color: rgba(0,0,0,0.75)
  //background-image: url('shared/redesign/tan-bg.png')
  padding: 15px 10px
  left: 0px
  overflow: hidden
  text-align: left
  color: white
  bottom: 0px
  background: $cp-blue
  box-shadow: 0px -3px 5px rgba(0,0,0,0.25)
  border-top: 1px solid #000
  //z-index: 700
  .text_container
    width: 982px
    left: -10px
    position: relative
    margin: 0px auto
    padding: 7px 10px 5px 10px
    border-radius: 4px
    background-color: rgba(0,0,0,0.10)
    border: 1px solid #151f28
    box-shadow: 0px 1px 0px rgba(255,255,255,0.15), inset 1px 1px 3px rgba(0,0,0,0.20)
    -webkit-font-smoothing: antialiased    
    behavior: url("assets/PIE.htc")
    p
      font-size: 18px
      //text-shadow: 1px 1px 0px black
      //padding: 0px 25px
      line-height: 21px
      color: #FCFAF4
      text-shadow: 1px 1px 0px rgba(0,0,0,0.65)
      //color: #131313
      width: 830px
      display: inline-block
      a
        color: white
        text-decoration: underline !important
        &:hover
          text-decoration: none !important
    span.button
      float: right !important
      width: 125px !important
      height: 18px
      padding-top: 11px !important
      a
        color: white
