#sidebar
  //background-image: url("shared/redesign/tan-bg.png")
  //background-color: #FAF8F0
  background-color: rgba(255,255,255,0.5)
  //background: url('shared/redesign/tan-bg.gif') repeat #FAF8F0
  //border-left: 1px solid white
  //border-right: 1px solid white
  //border-right: 1px solid #ccc
  //box-shadow: inset -1px 0px 0px white
  #your-town
    h3
      font-family: $heading
      font-size: 13px
      color: $black
      //text-shadow: 1px 1px 1px white
      //border-bottom: 1px solid #c5c2b5
      padding-bottom: 5px
    .your-town-links 
      list-style-type: none
      padding: 0px
      li
        //padding: 8px 8px 8px 15px
        &:hover, &:active, &.current
          background-color: white
          width: 125% !important
          //border-radius: 20px
        &:first-child
          a
            padding-top: 14px
        a
          text-decoration: none
          font-family: $heading
          color: #666
          text-shadow: none
          font-size: 14px
          font-weight: normal
          background: no-repeat left
          line-height: 18px
          text-shadow: 1px 1px 0px white
          background-position: 0px 0px   
          padding: 8px 8px 8px 15px
          &:hover, &:active
            //background-color: rgba(0,0,0,0.65)
            //background-color: rgba(0,0,0,0.35)
            //color: $red !important
            //box-shadow: inset 0px 1px 0px white
            //border: 1px solid #ccc
              left: 0px none
              right: 0px none
            //+linear-gradient(color-stops(#fbfbfb, #f2f2f2))
            //background-color: #fff
          &.current
            //background-color: #333
            //color: white !important
            //box-shadow: inset 0px 1px 0px #ccc, 0px 1px 0px #ccc
            //border: 1px solid #ccc
              left: 0px none
              right: 0px none
            //+linear-gradient(color-stops(#fbfbfb, #f2f2f2))
            //font-weight: bold
            background-color: white
            width: 125% !important
            //color: $black !important
            //padding-left: 10px
            //min-height: 25px
            //margin-top: -1px
          span  
            padding-top: 4px 
        .icon
          line-height: 25px
          vertical-align: text-top
          //background-position: 0px 0px
          background-repeat: no-repeat
          background-image: url("shared/redesign/your-town-links-25.png") 
          //box-shadow: 1px 1px 0px #f6f4ed
          border-radius: 20px

        a#questions
          .icon
            background-position: -75px 0px
          &.current
            color: #3d7fac
            //border-left: 5px solid #3d7fac
            .icon
              background-position: -75px -25px
            &:hover
              .icon
                background-position: -75px -25px
        a#questions:hover
          .icon
            background-position: -75px 0px
        a#transactions
          .icon
            background-position: -100px 0px
          &.current
            color: #5bb17b
            //border-left: 5px solid #5bb17b
            .icon 
              background-position: -100px -25px
            &:hover
              .icon
                background-position: -100px -25px
        a#transactions:hover
          .icon 
            background-position: -100px 0px
        a#events
          .icon
            background-position: -50px 0px
          &.current
            color: #ec8056
            //border-left: 5px solid #ec8056
            .icon
              background-position: -50px -25px
            &:hover
              .icon
                background-position: -50px -25px
        a#events:hover
          .icon
            background-position: -50px 0px
        a#discussions
          .icon
            background-position: -75px 0px
        a#discussions.current
          //border-left: 5px solid #5bb17b
          .icon
            background-position: -75px -25px
        a#announcements
          .icon
            background-position: -25px 0px
          &.current
            color: #b07bd9
            //border-left: 5px solid #b07bd9
            .icon
              background-position: -25px -25px
              &:hover
                .icon
                  background-position: -25px -25px
        //a.current
          //color: white
          padding-left: 10px
          .icon 
            //background-color: #fff
            border-radius: 20px

  #directory
    font-family: $body
    color: $black
    //border-top: 1px solid #ebe9e3
    #directory_search
      .remove_search 
        font-size: 11px
        cursor: pointer
        font-family: Verdana, sans-serif
        color: #999
        font-weight: bold
        //text-shadow: 1px 1px 0px white
        &:hover
          color: $red
    .directory_nav
      border-top: 1px solid #ebe9e3
      box-shadow: inset 0px 1px 0px white
    h3
      font-family: $body
      font-size: 12px
      font-weight: bold
      //padding: 8px 4px 8px
      //background-color: #ece7de
      color: #666
      //border-radius: 5px 5px 0px 0px
      cursor: pointer
      text-align: left
      //text-shadow: none
      //border: 1px solid #d5d1c8
      //box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 1.0)
      text-shadow: 1px 1px 0px white
      &:hover
        color: $red
        //background-color: #fff
        cursor: pointer
    h3.current_tab
      //background-color: #fff
      color: $red
      //border-bottom: 1px solid #fff

    #directory_results
      //background-color: #fff
      padding: 0px
      border-radius: 0px
      //border: 1px solid #d5d1c8
        top: 0
      #directory_failed_search
        color: #777
        font-weight: normal
        font-size: 15px
        text-align: center
      .loading-list
        background-image: url("loading-post.gif")
        background-position: center center
        background-repeat: no-repeat

      li
        //box-shadow: 0px 1px 0px rgba(255, 255, 255, 1.0)
        cursor: pointer
        padding: 0
        &:first-child
          a
            padding-top: 12px
        &:last-child
          border-bottom: none
          box-shadow: none
        &:hover, &:active
          background-color: #fff
        &.current
          background-color: white
          width: 125% !important
          a
            color: $black !important
        &:hover
          h4
            color: #666
        a
          padding: 9px 20px 9px 15px
          //&:hover, &:active, &.current
            //background-color: rgba(0,0,0,0.65)
            background-color: rgba(0,0,0,0.35)
            color: $red
        h4
          font-family: $heading
          color: #666
          font-weight: normal
          font-size: 14px
          line-height: 16px
          //padding-top: 1px
          text-transform: capitalize
          vertical-align: middle
          text-shadow: 1px 1px 0px white
        p
          font-family: $body
          font-size: 13px
          color: lighten($black, 10%)
          text-overflow: ellipsis
          line-height: 15px
        .avatar-container
          border-radius: 20px
          background-color: white
      .directory_item.current
        background-color: white
        width: 125% !important
        h4
          color: $black
