<div id="file-picker-filters">
<button id="new-resident">New Resident</button>
<button id="todo-list">TODO List</button>
<br>
<br>
<select name="add-tag">
<option></option>
{{#tags}}
<option class="tag-adding">{{.}}</option>
{{/tags}}
</select>
<button id="add-tag">Add tag</button>
<br>
<br>
  <select name="tags">
  <option></option>
  {{#tags}}
    <option class="tag-filter" data-state="neutral" data-tag="{{.}}">{{.}}</option>
  <!--
    <a class="tag-filter" data-state="neutral" data-tag="{{.}}">{{.}}</a>
  -->
  {{/tags}}
  </select>

  <input type="text" placeholder="search" id="query-input">
  <button id="filter-button">Find these residents!</button>
<br>
  <input type="checkbox" id="check-all">Check all shown</input>
</div>

<ul id="file-picker-list">
<li>Loading...</li>
</ul>
