<div id="file-picker-filters">
<button id="new-resident">New Resident</button>
<button id="todo-list">TODO List</button>
<br><br>
<select name="add-tag">
<option></option>
{{#tags}}
<option class="tag-adding">{{.}}</option>
{{/tags}}
</select>
<button id="add-tag">Add tag</button>
<br><br>
  <select id="haveornot" name="haveornot" >
    <option value="yes" selected=true> Have
    <option value="no"> Haven't
  </select>
  <select id="filter-tags" name="filter-tags">
    <option value="post" selected=true> Posted
    <option value="email" > Open Email
    <option value="reply" > Replied
    <option value="replied" > Be replied
    <option value="invite" > Invited
    <option value="announcement" > Announcements
    <option value="event" > Event  
    <option value="sitevisit" > Logged in
  </select>
<button id="filter">Filt</button>
<br><br>
<select name="tags">
  <option></option>
  {{#tags}}
    <option class="tag-filter" data-state="neutral" data-tag="{{.}}">{{.}}</option>
  {{/tags}}
</select>
  <input type="text" placeholder="search" id="query-input">
  <button id="filter-button">Find these residents!</button>
<br>
  <input type="checkbox" id="check-all">Check all shown</input>
<br>
  <button id="filter-order">Order by</button>
<input type="radio"  name="order" value="time"> Time
<input type="radio"  name="order" value="quantity"> Quantity
</div>

<ul id="file-picker-list">
<li>Loading...</li>
</ul>
