<div id="todo-viewer">
  <h3>Task List</h3>

  {{#todos}}
    <h4>{{.}}</h4>
    <ul class="todo-specific" value="{{.}}">
    {{#profiles}}
      <input type="checkbox" name="{{.}}">{{.}}<br>
    {{/profiles}}
    </ul>
  {{/todos}}
</div>
