<script type="text/javascript">
function display(id){ 
var target=document.getElementById(id); 
    if(target.style.display=="none"){ 
       target.style.display="";
    }else{ 
       target.style.display="none"; 
    } 
}

</script>



<div id="person-viewer">

  <h3 id="name">{{ full_name }} <button onclick="">Edit Info</button></h3>
  <span id="person-viewer-left"> 
     <table>
       <tr>
	<td>Email<button onclick="display('email-text');display('email-add');">Edit</button></td> <td>{{email}} 
       
	    <form id="add-email" autocomplete="off">
		<input id="email-text" type="text" style="display:none" placeholder="john@example.com">
		<input id="email-add" type="submit" style="display:none" value="Save">
	    </form> 
	    </td></tr>
       <tr>
	<td>Phone<button onclick="display('phone-text');display('phone-add');">Edit</button></td></td> <td>{{phone}} 
	<form id="add-phone" autocomplete="off">
		<input id="phone-text" type="text" style="display:none" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" placeholder="1234567890">
		<input id="phone-add" type="submit" style="display:none" value="Save">
	    </form> 
	</td>
       </tr><tr>	
	<td>Organization<button onclick="display('organization-text');display('organization-add');">Edit</button></td> <td>{{organization}}  
	<form id="add-organization" autocomplete="off">
		<input id="organization-text" type="text" style="display:none" >
		<input id="organization-add" type="submit" style="display:none" value="Save">
	    </form> 
	</td>
       </tr><tr>
	<td>Position<button onclick="display('position-text');display('position-add');">Edit</button></td> <td>{{position}}  
	<form id="add-position" autocomplete="off">
		<input id="position-text" type="text" style="display:none" >
		<input id="position-add" type="submit" style="display:none" value="Save">
	    </form> 
	</td>
       </tr><tr>
	<td>Address<button onclick="display('address-text');display('address-add');">Edit</button></td> <td>{{ address }} 
	        <form id="add-address" autocomplete="off">
		  <input id="address-text" type="text" style="display:none" placeholder="125 Western Avenue, Allston, MA 02134">
		  <input id="address-add" type="submit" style="display:none" value="Save">
		</form> 
	</td>
       </tr><tr>
	<td>Notes<button onclick="display('notes-text');display('notes-add');">Edit</button></td> <td>{{notes}}  
	<form id="add-notes" autocomplete="off">
		  <textarea id="notes-text"  style="display:none" />
		  <input id="notes-add" type="submit" style="display:none" value="Save">
		</form> 
	</td>
       </tr><tr>
	<td>Sector</td> <td><ul id="sector-tags">
                 {{#sector}}<li>{{.}}</li>{{/sector}}
                </ul></td>
       </tr><tr>
        <td>Type</td> <td><ul id="type-tags">
                 {{#type}}<li>{{.}}</li>{{/type}}
                </ul></td>
       </tr><tr>
        <td>Tags</td> <td><ul id="resident-tags">
                 {{#tags}}<li>{{.}}</li>{{/tags}}
                </ul></td>
       </tr>
       </table>
        
 	
        <!--
        Current tags: <br>
    <ul id="resident-tags">
    {{#tags}}<li>{{.}}</li>{{/tags}}
    </ul>
  
    Organizer Logs:
    <ul id="organizer-logs">
      {{#logs}}
        <li>{{.}}</li>
      {{/logs}}
    </ul>
  
    <br />
    <form id="add-log">
      Add Log:
  	  <input id="log-date" type="text" placeholder="Date (MM/DD/YYYY)"><br />
      <textarea id="log-text" name="log-text" placeholder="description" cols="40"></textarea><br />

	  Tag as: <br />
      {{#possibleTags}}
      <input type="checkbox" value="{{.}}" />{{.}}<br />
      {{/possibleTags}}
      <input id="log-add" type="submit" value="Add log">
    </form> -->
    </span>
    <span id="person-viewer-right">
    Actions <br>
    <div id="action-count">
      <iframe id="content" name="content" width="100%" height="450" frameborder=0 > </iframe>
    </div>
    </span> 
</div>
