<div class="avatar-container" style="background-image:url('{{authorAvatarUrl}}');">
</div>

<div class="reply-info">
  <div class="reply-text">
    <span class="author">{{author}}</span>
    <div class="body reply-body">
      {{#markdown}}{{body}}{{/markdown}}
      <span class="controls">
        <span class="time">{{time}}</span> {{#hasThanks}} <span class="star">&#9733;</span> <span class="thanks_count">{{numThanks}} {{peoplePerson}}</span> <span class="thanks_text">thanked {{first_name}}</span>{{/hasThanks}} 
        {{#canThank}}
          <!--{{#hasThanked}} <span class="thanked-reply"> <span class="star">&#9733;</span> Thanked!</span>{{/hasThanked}}-->
          {{^hasThanked}}<a href="#" class="thank-reply">&#10004; Thank</a>{{/hasThanked}}
        {{/canThank}}
        {{#canEdit}}<a href="#" class="delete-reply">&#10006; Delete</a>{{/canEdit}}
      </span>
    </div>

  </div>

</div>

<div style="clear: both;"></div>
