<div class="links scroll-pane">
  <h1>What would you like to post?</h1>

  <div id="posting_navlinks" class="navigation">
    <ul>
      <li class="request" data-tab="request">Request or Offer</li>
      <li class="event" data-tab="event">Publicize an Event</li>
      <li class="discussion" data-tab="discussion">Town Discussion Topic</li>
      <li class="meetup" data-tab="meetup">Meet-up Idea</a>
      </li>
    </ul>
  </div>
  <div id="invalid_post_tooltip" style="">
    <img src="/images/arrow_left_up.png" />
    <span id="invalid_post_text">Choose a category before posting!</span>
  </div>
</div>
