<ul class="your-town-links">
  <li><a id="questions" class="wire_filter" href="/{{community_slug}}/list/questions" data-remote>Questions Board</a></li>
  <li><a id="transactions" class="wire_filter" href="/{{community_slug}}/list/transactions" data-remote>Marketplace</a></li>
  <li><a id="events" class="wire_filter" href="/{{community_slug}}/list/events" data-remote>Events & Meetups</a></li>
  <li><a id="discussions" class="wire_filter" href="/{{community_slug}}/list/discussions" data-remote>Town Discussions</a></li>
  <li><a id="announcements" class="wire_filter" href="/{{community_slug}}/list/announcements" data-remote>Announcements</a></li>
</ul>
