<ul class="your-town-links">
  <li><a id="request" href="/{{community_slug}}/list/offers" data-remote>Requests</a></li>
  <li><a id="marketplace" href="/{{community_slug}}/list/transactions" data-remote>Marketplace</a></li>
  <li><a id="event" href="/{{community_slug}}/list/events" data-remote>Events & Meetups</a></li>
  <li><a id="discussion" href="/{{community_slug}}/list/group_posts" data-remote>Town Discussions</a></li>
  <li><a id="announcement" href="/{{community_slug}}/list/announcements" data-remote>Announcements</a></li>
</ul>
