<ul class="your-town-links">
  <li>
  	<a id="questions" class="wire_filter" href="/{{community_slug}}/list/questions" alt="Town Questions" title="Questions from you neighbors in {{community_name}}">
  		<i class="icon" alt="Town Questions" title="Town Questions"></i>
  		<span>Town Questions</span>
  	</a>
  </li>

  <li>
  	<a id="transactions" class="wire_filter" href="/{{community_slug}}/list/transactions" alt="Marketplace" title="Items for sale or given away from your neighbors in {{community_name}}">
  		<i class="icon" alt="Marketplace" title="Marketplace"></i>
  		<span>Marketplace</span>
  	</a>
  </li>

  <li>
  	<a id="events" class="wire_filter" href="/{{community_slug}}/list/events" alt="Events" title="Events happening in {{community_name}}">
  		<i class="icon" alt="Events" title="Events"></i>
  		<span>Events &amp; Meetups</span>
  	</a>
  </li>

  <li>
  	<a id="discussions" class="wire_filter" href="/{{community_slug}}/list/discussions" alt="Town Discussions" title="Discuss topics with your neighbors in {{community_name}}">
    	<i class="icon" alt="Town Discussions" title="Town Discussions"></i>
    	<span>Town Discussions</span>
  	</a>
  </li>

  <li>
  	<a id="announcements" class="wire_filter" href="/{{community_slug}}/list/announcements" alt="Announcements" title="Announcements and deals from local businesses and organizations in {{community_name}}">
    	<i class="icon" alt="Announcements" title="Announcements"></i>
    	<span>Announcements</span>
    </a>
  </li>
</ul>
