<div id="registration1">
	
  <div class="redbox address">
    <h2>Just a second...</h2>
    <p>Before joining the {{community_name}} Commonplace, take a moment to verify that you are a member of our community!</p>
    <input name="street_address" type="input" type="text" class="address" placeholder="Please enter your {{community_name}} street address*" /><br />
    <img src="http://placehold.it/388x130" />
    <p class="caption">*We won't share your address with anyone</p>
    <form>
      <label for="referral_source">How did you find out about CommonPlace?</label>
      <select name="referral_source" id="hear" class="dk" tabindex="1">
        {{#referrers}}
          <option value="{{.}}">{{.}}</option>
        {{/referrers}}
      </select>
      <label for="referral_metadata"></label>
      <input type="text" name="referral_metadata">
    </form>

	<div id="find_button">
		<a href="#" class="blue-button next-button">Continue</a>
	</div>
	
</div>
