<div id="findNeighbors" class="container">
	
<img src="/assets/shared/redesign/subscribe_title.png" alt="Find Your Neighbors" class="find_title">

<ul class="subscribe_categories">
  {{#categories}}
	<li><a href="#{{.}}">{{.}}</a></li>
  {{/categories}}
</ul>

<div id="subscribe_pages">
  {{#categories}}
  <a name="{{.}}"><h2>{{.}}</h2></a>
  <ul class="subscribe_pages" id="{{.}}"></ul>
  {{/categories}}
</div>

<div id="find_bottom">
<div id="invite_friends">
	<p>Are you running an organization? <br /><a href="#" class="subscribe_create">Create A New Page</a></p>
</div>

<div id="find_button">
	<a href="#" class="blue-button next-button">Continue</a>
</div>

</div>
