<div class="registration1">
    <div class="left">
      <div class="tab-content">
          <div class="tab-pane" id="home">
            <h1>Welcome Home!</h1>
            <p class="first">The {{community_name}} CommonPlace is the easiest way</p><br/>
            <p>to share with your neighors and keep up with what's</p><br/>
            <p>happening in {{community_name}}.</p><br />
            <p>
            <span class="learn-more">
              <a href="{{learn_more}}" class="learn-more">Learn More</a></li>
            </span>
          </p>
          </div>
          <div class="tab-pane" id="story">
            <p>asdfa</p>
          </div>
          <div class="tab-pane" id="platform">
            <p>asasfasdfasdfdfa</p>
          </div>
          <div class="tab-pane" id="press">
            <p>asdasdfasdfa</p>
          </div>
          <div class="tab-pane" id="awards">
            <p>asdasdfasdfa</p>
          </div>
      </div>
      <div class="navbar">
        <ul class="nav nav-tabs" id="scroller">
          <li><a href="#home" class="mission selected">Our Mission</a></li>
          <li><a href="#story" class="story">Our Story</a></li>
          <li><a href="#platform" class="platform">Our Platform</a></li>
          <li><a href="#press" class="press">Press</a></li>
          <li><a href="#awards" class="awards">Civic Hero Awards</a></li>
        </ul>
      </div>
    </div>
    <div class="right">
      <div id="redbox">
        <figure class="front">
          <h2>Sign Up</h2>
          <form class="registration">
            <input id="full-name" name="full_name" class="name" type="text" placeholder="Full Name" />
            <span class="error full_name"></span>
            <br />
            <input class="email" type="email" name="email" placeholder="Your Email" />
            <span class="error email"></span>
            <br />
            <input class="password" type="password" name="password" placeholder="New Password" /><br />
			<button class="next-button">Register Now!</button></form>
          <div class="facebook">
            <p>Or you can:</p>
            <a href="#">Facebook</a>
          </div>
          </form>
        </figure>
      </div>
    </div>
  </div>
