<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml">
  <head>
    <title>Placebuilder - Communication Infrastructure for Civil Society</title>
    <meta name="description" content="Placebuilder is communication infrastructure for civil society.">
    <link href="/assets/application.css" rel="stylesheet" type="text/css">
    <link href="/assets/favicon.png" rel="icon" type="image/png">
    <style type="text/css" media="screen">
       html {
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
           }

           body {
             overflow-y: scroll !important;
             -webkit-font-smoothing: antialiased;
             text-rendering: optimizeLegibility;
             background: url(/assets/shared/redesign/backgrounds/backyard.jpg) top center no-repeat;
           }
     </style>
     <!--[if IE 9]>
         <link rel="stylesheet" type="text/css" href="/assets/IE8-loggedIn.css" />
     <![endif]-->
     <!--[if lt IE 9]>
         <link rel="stylesheet" type="text/css" href="/assets/IE8-loggedIn.css" />
     <![endif]-->
  </head>

  <body class="application">

      <div id="header" class="app">
         <div id="nav_wrapper" class="pie-element">
           <div class="header_left">
             <a href="{{community_url}}">
               <h1 class="community">
                 <img src="/assets/shared/redesign/parentslist-logo.png" alt="ParentsList">
               </h1>
             </a>
           </div>
             <div class="header_center"></div>
             <div class="header_right">
               <ul id="user_sign_in">
                <div id="login" class="button red drop">
                  Login
                </div>
                <div id="sign_in" class="dropdown">
                  <div class="arrow"></div>
                  <form id="sign_in_form">
                    <input type="email" name="email" class="email" placeholder="Email Address" />
                    <input type="password" name="password" placeholder="Password" />
                    <button id="signin_button" name="signin" class="button signin">Sign In</button>
                    <input type="submit" style="display: none"/>
                  </form>
                  <a href="/users/auth/facebook">
                    <button name="facebooksignin" class="button signin facebook">Facebook Login</button>
                  </a>
                  <a href="/users/password/new">
                    <p class="forgot">Forgot Password?</p>
                  </a>
                </div>
               </div>
             </div>
         </div>
         
      </div>

      <div id="notification" class="important-notification"></div>

      <div id="feature-switching"></div>

      <div id="main" class="app info">
         <div class="headline">
            <h1>Communication infrastructure for civil society.</h1>
         </div>
      </div>

 
    <script type="text/javascript" src="/assets/application.js"></script>

    <script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.5/zenbox.js"></script>
    <style type="text/css" media="screen, projection">
      @import url(//assets.zendesk.com/external/zenbox/v2.5/zenbox.css);
    </style>
    <script type="text/javascript">
      if (typeof(Zenbox) !== "undefined") {
        Zenbox.init({
          dropboxID:   "20129567",
          url:         "https://commonplace.zendesk.com",
          tabID:       "Feedback",
          tabColor:    "black",
          tabPosition: "Right"
        });
      }
    </script>

  </body>

</html>
