<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml">
  <head>
    <title>Placebuilder - Communication Infrastructure for Civil Society</title>
    <meta name="description" content="Placebuilder is communication infrastructure for civil society.">
    <link href="/assets/application.css" rel="stylesheet" type="text/css">
    <link href="/assets/favicon.png" rel="icon" type="image/png">
    <style type="text/css" media="screen">
       html {
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
           }

           body {
             overflow-y: scroll !important;
             -webkit-font-smoothing: antialiased;
             text-rendering: optimizeLegibility;
           }
     </style>
     <!--[if IE 9]>
         <link rel="stylesheet" type="text/css" href="/assets/IE8-loggedIn.css" />
     <![endif]-->
     <!--[if lt IE 9]>
         <link rel="stylesheet" type="text/css" href="/assets/IE8-loggedIn.css" />
     <![endif]-->
  </head>

  <body class="application">

      <div id="header" class="app info">
         <div id="nav_wrapper" class="pie-element">
           <div class="header_left">
             <a href="/info">
               <h1 class="community">
                 <img src="/assets/shared/redesign/parentslist-logo.png" alt="ParentsList">
               </h1>
             </a>
           </div>
             <div class="header_center"></div>
             <div class="header_right">
               <ul id="user_sign_in">
                <div id="login" class="button red drop">
                  Login
                </div>
                <div id="sign_in" class="dropdown">
                  <div class="arrow"></div>
                  <form id="sign_in_form">
                    <input type="email" name="email" class="email" placeholder="Email Address" />
                    <input type="password" name="password" placeholder="Password" />
                    <button id="signin_button" name="signin" class="button signin">Sign In</button>
                    <input type="submit" style="display: none"/>
                  </form>
                  <a href="/users/auth/facebook">
                    <button name="facebooksignin" class="button signin facebook">Facebook Login</button>
                  </a>
                  <a href="/users/password/new">
                    <p class="forgot">Forgot Password?</p>
                  </a>
                </div>
               </div>
             </div>
         </div>
         
      </div>

      <div id="notification" class="important-notification"></div>

      <div id="feature-switching"></div>

      <div id="main" class="app info">
         <div class="headline">
            <h1>Communication infrastructure for civil society.</h1>
         </div>
         <div class="left-column">
            <h2>Build</h2>
            <p>Start a high tech community bulletin board for your neighborhood, for your campus, or for parents at your child’s school. Choose one:</p>
            <div class="build-container">
               <div class="for-neighbors">
                  <h3><a href="#neighbors">For Neighbors</a></h3>
                  <a href="#neighbors"><img src="" alt="For Neighbors" /></a>
               </div>
               <div class="for-students">
                  <h3><a href="#students">For Students</a></h3>
                  <a href="#students"><img src="" alt="For Students" /></a>
               </div>
               <div class="for-parents">
                  <h3><a href="#parents">For Parents</a></h3>
                  <a href="#parents"><img src="" alt="For Parents" /></a>
               </div>
            </div>
         </div>
         <div class="right-column">
            <h2>Join</h2>
            <p>Find your place:</p>
         </div>
      </div>
      <p class="learn-more"><a href="#neighbors">Learn More</a></p>
      <div class="more-info">
         <div id="neighbors">
            <img src="/assets/shared/redesign/building.png">
            <h2>For Neighbors</h2>
            
            <h3>Connect</h3>
            <p>Proin ut sodales dui vestibulum ut pretium felis pharetra erat. Cras tincidunt lectus at sem convallis ornare felis tincidunt.</p>
            
            <h3>Buy, Sell, Share</h3>
            <p>Quisque posuere justo ac leo pulvinar, in eleifend neque porttitor. Etiam sit amet nisi rutrum, egestas dolor vitae, adipiscing elit.</p>
            
            <h3>Local Events &amp; Announcements</h3>
            <p>Cras aliquet velit pretium, tincidunt dolor quis, viverra nulla. Curabitur quis congue nunc. Duis vitae porta metus pellentesque cursus ante pretium.</p>
            
            <p class="build-one"><a href="#">Build One!</a></p>

            
         </div>
         <div id="students">
            <img src="/assets/shared/redesign/building.png">
            <h2>For Students</h2>
            
            <h3>Connect</h3>
            <p>Proin ut sodales dui vestibulum ut pretium felis pharetra erat. Cras tincidunt lectus at sem convallis ornare felis tincidunt.</p>
            
            <h3>Buy, Sell, Share</h3>
            <p>Quisque posuere justo ac leo pulvinar, in eleifend neque porttitor. Etiam sit amet nisi rutrum, egestas dolor vitae, adipiscing elit.</p>
            
            <h3>Local Events &amp; Announcements</h3>
            <p>Cras aliquet velit pretium, tincidunt dolor quis, viverra nulla. Curabitur quis congue nunc. Duis vitae porta metus pellentesque cursus ante pretium.</p>
            
            <p class="build-one"><a href="#">Build One!</a></p>
         </div>
         <div id="parents">
            <img src="/assets/shared/redesign/building.png">
            <h2>For Parents</h2>
            
            <h3>Connect</h3>
            <p>Proin ut sodales dui vestibulum ut pretium felis pharetra erat. Cras tincidunt lectus at sem convallis ornare felis tincidunt.</p>
            
            <h3>Buy, Sell, Share</h3>
            <p>Quisque posuere justo ac leo pulvinar, in eleifend neque porttitor. Etiam sit amet nisi rutrum, egestas dolor vitae, adipiscing elit.</p>
            
            <h3>Local Events &amp; Announcements</h3>
            <p>Cras aliquet velit pretium, tincidunt dolor quis, viverra nulla. Curabitur quis congue nunc. Duis vitae porta metus pellentesque cursus ante pretium.</p>
            
            <p class="build-one"><a href="#">Build One!</a></p>
         </div>
         <div id="about">
            <img src="/assets/shared/redesign/building.png">
            <h2>Who We Are</h2>
            
            <h3>Our Mission</h3>
            <p>Proin ut sodales dui vestibulum ut pretium felis pharetra erat. Cras tincidunt lectus at sem convallis ornare felis tincidunt.</p>
            
            <h3>Our Story</h3>
            <p>Quisque posuere justo ac leo pulvinar, in eleifend neque porttitor. Etiam sit amet nisi rutrum, egestas dolor vitae, adipiscing elit.</p>
            
            <h3>Technology</h3>
            <p>Cras aliquet velit pretium, tincidunt dolor quis, viverra nulla. Curabitur quis congue nunc. Duis vitae porta metus pellentesque cursus ante pretium.</p>
            
            <p class="build-one"><a href="#">Preview the site!</a></p>
         </div>
      </div>

 
    <script type="text/javascript" src="/assets/application.js"></script>

    <script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.5/zenbox.js"></script>
    <style type="text/css" media="screen, projection">
      @import url(//assets.zendesk.com/external/zenbox/v2.5/zenbox.css);
    </style>
    <script type="text/javascript">
      if (typeof(Zenbox) !== "undefined") {
        Zenbox.init({
          dropboxID:   "20129567",
          url:         "https://commonplace.zendesk.com",
          tabID:       "Feedback",
          tabColor:    "black",
          tabPosition: "Right"
        });
      }
    </script>

  </body>

</html>
