<ul>
  <li><a data-tab="showAnnouncements"
    href="#announcements"
    class="{{#classIfCurrent}}showAnnouncements{{/classIfCurrent}}">Announcements
  </a></li>

  <li><a data-tab="showEvents"
    href="#events"
    class="{{#classIfCurrent}}showEvents{{/classIfCurrent}}">Events
  </a></li>

  <li><a data-tab="showSubscribers"
    href="#subscribers"
    class="{{#classIfCurrent}}showSubscribers{{/classIfCurrent}}">Subscribers
  </a></li>
</ul>
