<ul>
  <li><a data-tab="showAnnouncements"
    href="#announcements"
    class="{{#classIfCurrent}}showAnnouncements {{/classIfCurrent}} announcements">Announcements
  </a></li>

  <li><a data-tab="showEvents"
    href="#events"
    class="{{#classIfCurrent}}showEvents {{/classIfCurrent}} events">Events
  </a></li>
</ul>
