
<div class="feed-announcements tab {{#classIfCurrent}}showAnnouncements{{/classIfCurrent}}">

  <div class="wire">
  </div>
</div>

<div class="feed-events tab {{#classIfCurrent}}showEvents{{/classIfCurrent}}">
	
  <div class="wire">
  </div>
</div>

<div class="feed-subscribers tab {{#classIfCurrent}}showSubscribers{{/classIfCurrent}}">

  <div class="wire">
  </div>
</div>
