<div id="feed-admin-bar"></div>
<div id="left-column">
  <div id="sidebar"></div>
</div>

<div id="right-column">
  {{#isOwner}}
    <div id="feed-actions"></div>
  {{/isOwner}}
  <div id="feed-subresources"></div>
</div>
