@import "mail_base" ;
@import "post_notification";

#footer { text-align: center ; }

div.p.quote { margin-left: 15px ; font-style: italic ; } 

div.p em { color: #3b6085 ; }

div.p.link-to-commonplace { text-align: center ; }

span.button { background-color: #a6352c; padding: 5px; color: #fff ; font-size: 13px ; }

span.button.accept { width: 20px ; text-align: center ; }
