@import "compass/css3/gradient"
@import "compass/css3/border-radius"
@import "compass/reset"
@import base.sass

$Ultra: 'Ultra'
$Yellowtail: 'Yellowtail'
$Rokkitt: 'Rokkitt'

#about
  .header 
    height: 80px
    background: url("shared/redesign/red-bg.png")
    h2 
      color: white
      font-family: $Yellowtail
      text-shadow: 4px 4px 1px $blue
      font-family: 20px
    ul.nav 
      list-style-type: none
      li 
        float: left 
        margin-right: 20px
        a 
          font-family: $Rokkitt
          text-decoration: none
          color: white
      li.selected
        background: darkred
  .content
    padding: 20px 
    .left 
      width: 55%
      float: left
      a 
        color: red 
        text-decoration: none
      h3
        font-family: $Rokkitt
        color: $blue
        font-family: 16px
        padding-bottom: 15px
      p 
        color: black
        font-family: $Rokkitt
        font-size: 12px
    .right 
      width: 45%
      float: right