@import "compass/css3/border-radius"
@import "compass/css3/images"

$blue: #1b334a
$dark-blue: #151f28
$light-blue: #32485c
$red: #ac322f
$dark-red: darken($red, 20%)
$black: #333
$dark-grey: #888
$light-grey: #e8e8e8
$off-grey: #eeecdf
$search-box: #b7c3cf

$Ultra: 'Ultra'
$Yellowtail: 'Yellowtail'
$Rokkitt: 'Rokkitt'

.redbox
  padding: 30px
  background: $red url("shared/redesign/red-bg.png")

.address
  width: 390px
  h2 
    font-size: 42px
    margin-top: 20px
    width: 100%
    background: url("shared/redesign/stars-2.png") no-repeat center
    text-align: center
    font-family: $Yellowtail
    margin-top: 0
    line-height: 42px
    text-shadow: 4px 4px 1px $blue
    color: #eeecdf
  p 
    color: white
    font-family: $Rokkitt
    font-size: 18px
    margin: 0 0 15px 0
  input.address
    font-size: 17px
    border: 1px solid #821916
    box-shadow: inset #C8C8C8 0px 0px 3px 2px, rgba(255,255,255,.5) 0px 1px 1px
    font-family: $Rokkitt
    width: 100%
    padding: 8px
    color: #333333
  input.address::-webkit-input-placeholder
    color: #333
  img 
    border: 1px solid #821916
    margin-top: 5px
  p.caption
    font-size: 14px
    float: right
    margin: 10px 0 10px 0 
    font-family: $Rokkitt
    text-align: right
  input[type=button]
    -webkit-appearance: none
    background: $blue
    @include background(linear-gradient(top center, #2e5274, #1b334a))
    width: 393px
    padding: 10px 0
    letter-spacing: 1px
    font-family: $Ultra
    font-size: 20px
    border: 1px solid #151f28
    color: white
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), inset 0px 1px 0px rgba(255,255,255,.3)
    text-shadow: 1px 2px 3px rgba(0,0,0,.5)
    cursor: pointer
.welcome
  background: url("shared/redesign/welcomebg.png") center top no-repeat
  width: 525px
  padding: 0 32px