body.inbox, body.feed_inbox, body.outbox
  background-color: #eee
  padding: 0px !important
  textarea
    width: 540px !important
  .end
    .loading
      color: #333
      text-align: center
      background-image: image-url("loading.gif")
      background-position: bottom center
      background-repeat: no-repeat
  a.more

  #inbox-nav
    font-family: $Yellowtail
    font-size: 15px
    padding-left: 15px
    padding-right: 15px
    width: 215px
    
    a 
      +border-radius(4px)
      padding: 8px 15px
      color: #1b334a
      text-decoration: none
      width: 170px
    
    .current
      background-color: $red
      color: white

  #inbox
    border: #eee
    +border-radius(4px)
    border: 1px solid #bbb
    background-color: white
    
    div#message-list.loading
      color: #333
      text-align: center
      background-image: image-url("loading.gif")
      background-position: bottom center
      background-repeat: no-repeat
    h2
      background-color: #f2f2f2
      color: #67769e
      text-align: center
      padding: 6px
      border-bottom: 1px solid #d5d6d6
      +border-top-radius(5px)
      font-family: $body
      font-size: 14px
    
    ul.list
      +border-bottom-radius(4px)
    
      .message-item
        border-bottom: 1px solid #eee
        padding: 15px
        
        .replies-area
          padding-left: 28px

          .author
            font-size: 14px
          .body
            font-size: 14px
          .time
            font-size: 14px

        .main-message
          img.avatar
            //border-radius: 5px
            float: left
            margin-right: 15px
    
          .corner
            color: #bab9bf
            font-size: 18px
    
          h3
            color: #444
            font-size: 20px
            font-weight: normal
            font-family: $body
            margin-bottom: 5px
    
          .messagable
            color: $red
            text-decoration: none
    
          .date
            font-family: $body
            color: #888
            font-size: 14px
            margin-bottom: 15px
    
          .body
            color: #333
            line-height: 22px
            font-family: $body
            font-size: 14px
