#header.info
  position: absolute
  background: transparent
  box-shadow: none
  border: 0px none
  #nav_wrapper
    border: 0px none
    box-shadow: none
    .header_left
      border: 0px none
      box-shadow: none
      padding-left: 1px
    .header_right
      #user_sign_in
        right: 0px
#main.info
  margin: 0px auto
  color: #444
  padding-left: 15px
  height: 100%
  position: static
  .info-top
    //position: fixed
    //top: 16%
    height: 100%
    width: 955px
    margin: 0px auto
    .top-container
      height: 510px
      position: absolute
      top: 50%
      margin: -250px auto 0px auto
      width: 955px
    .headline
      margin-bottom: 50px
      h1
        font-family: $heading
        font-size: 42px
        line-height: 48px
        color: #444
        font-weight: normal
        //text-shadow: 0px 0px 15px rgba(0,0,0,0.75)
    h2
      font-size: 22px
      font-weight: bold
      margin-bottom: 10px
      color: $red
      //text-shadow: 0px 0px 15px rgba(0,0,0,0.75)
    p
      font: 15px/22px $heading
      //text-shadow: 0px 0px 15px rgba(0,0,0,0.75)
    .left-column
      .for-neighbors:hover
        .for-students, .for-parents
          display: none
    .left-column
      float: left
      width: 64%
      .build-container
        //margin-top: 50px
        position: relative
        .for-parents
          position: absolute
          top: 0px
          right: 0px
          float: none
        .for-students
          margin: 0px auto
          float: none !important
        .for-neighbors, .for-students, .for-parents
          float: left
          width: 175px
          text-align: center
          h3
            font-size: 15px
            font-weight: bold
            margin: 0px auto
            text-align: center
            margin-bottom: 30px
            width: 175px
            color: white
            position: relative
            border-radius: 4px
            //box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25)
            &:after
              left: 44%
              border: solid transparent
              content: " "
              height: 0
              width: 0
              position: absolute
              pointer-events: none
              border-color: rgba(255, 255, 15, 0)
              border-top-color: $cp-blue
              border-width: 9px
              &:hover
                border-top-color: $red
            &:hover
              &:after
                border-top-color: $red
            a
              border-radius: 4px
              color: white
              padding: 8px
                bottom: 10px
              display: block
              background-color: $cp-blue
              &:hover
                background-color: $red
                color: white
                  //color: lighten($red, 25%)
          img
            width: 175px
            height: 300px
            //border-radius: 100px
            //border: 5px solid white
            margin: 0px auto
            text-align: center
            color: transparent
            background-color: #ccc
            //box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1)
            &:hover
              //box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.8)
              //background-color: $red
              //margin-top: -5px
              opacity: 0.5
        .for-neighbors
          img
            //background-color: #519872
            background-color: transparent
            width: auto
            //background-image: url(/shared/redesign/building.png)
        .for-students
          img
            //background-color: #4ea6cb
        .for-parents
          img
            //background-color: #ffce79
    .right-column
      float: right
      width: 32%
      height: 66%
      //position: relative
      .state, .town
        border-radius: 4px
        background-color: rgba(255,255,255,0.35)
        box-shadow: inset 0px 0px 6px rgba(0,0,0,0.25), 0px 1px 0px rgba(255, 255, 255, 0.65)
        margin-bottom: 23px
        width: 100%
        float: left
        &:hover
          cursor: pointer
      .state
        height: 40px
        //margin-top: 20px
      .town
        //height: 320px
        height: 229px
        //position: absolute
        //bottom: 25px
      .red-button
        cursor: pointer
        font-weight: normal
        width: 100%
        font-size: 20px

p.learn-more
  padding: 25px 0px
  margin: 0px auto
  text-align: center
  font-size: 16px
  font-weight: bold
  width: 955px
  margin-left: 10px
  text-transform: uppercase
  position: absolute
  bottom: 0px
  //background: url('shared/redesign/tan-bg.gif') repeat fixed #FAF8F0
  clear: both
  a
    color: $cp-blue
    &:hover
      color: $red

.divider
  border-bottom: 1px solid rgba(255,255,255,0.65)
  height: 1px
  background-color: #E7E4D7
  width: 100%

.info-bottom
  //background: url('shared/redesign/tan-bg.gif') repeat fixed #FAF8F0
  width: 100%
  height: 100%
  //clear: both
  color: #444
  //position: absolute
  //top: 690px
  .section-container
    display: table
    padding-left: 15px
    margin: 0px auto
    min-height: 525px
    //height: inherit
    clear: both
    width: 955px   
    padding-top: 35px 
  .neighbors, .students, .parents, .about-us
    //background-color: #519872
    //padding-top: 90px    
    display: table-cell
    vertical-align: middle
    h2
      font-size: 36px
      font-weight: bold
      //text-transform: uppercase
      color: $red
      //margin-bottom: 25px
      margin-top: 35px
    h3
      font-size: 20px
      font-weight: normal
      color: $cp-blue
      margin-bottom: 10px
      margin-top: 40px
    p
      font: 15px/20px $heading
    p.build-one
      margin-top: 40px
      text-align: right
      a
        color: $red
        text-transform: uppercase
        font-size: 16px
        font-weight: bold
        //letter-spacing: 1px
        &:hover
          color: $cp-blue
        
  .neighbors, .parents
    img
      float: left
      margin-right: 40px
  .students, .about-us
    h2
      margin-top: 0px
    img
      float: right
      margin-left: 40px
  .info-footer
    width: 955px
    font-size: 13px
    padding-left: 15px
    min-height: 20px
    padding-bottom: 20px
    margin: 0px auto
      top: 30px
    color: #888
    a
      color: #888
      padding-left: 15px
      &:hover
        color: $red
      
#about
  .header
    background: url("shared/redesign/red-bg.png")
    padding: 13px 0 18px 40px
    border: 1px solid #741A18
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.25)
    border-radius: 5px 5px 0px 0px
    h2
      color: white
      font-family: $Yellowtail
      text-shadow: 3px 3px 0px $blue
      font-size: 40px
    ul.nav
      list-style-type: none
      li
        a
          font-family: $Rokkitt
          text-decoration: none
          color: white
          font-size: 18px
          padding: 5px 10px
        &:hover
          a
            background-color: #741A18
            border-radius: 4px
            box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.25)
        &:active
          a
            background-color: #741A18
            border-radius: 4px
            color: #eee
            box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.65), 0px 1px 0px rgba(255, 255, 255, 0.20)
      li.selected
        a
          background-color: #741A18
          border-radius: 4px
          box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.25)
          text-shadow: 0px 2px 1px #333

  .content
    background: url("shared/redesign/tan-bg.png") repeat
    background-color: $tan
    padding: 15px
    border-radius: 0px 0px 5px 5px
    box-shadow: 0px 2px 1px black
    border: 1px solid #fff
  .about_border
    padding: 30px
    border: 3px solid #CFCCC1
    border-radius: 0px 0px 5px 5px
    box-shadow: 1px 1px 0px white, inset 1px 1px 0px white
    .left
      border-right: 1px solid #d3d1c9
      a
        color: $red
        text-decoration: none
        &:hover
          text-decoration: underline
      h3
        font-family: $Rokkitt
        color: $blue
        font-size: 23px
        padding-bottom: 20px
        font-weight: normal
        text-shadow: 1px 1px 0px #fff
      p
        color: #424242
        font-family: $Rokkitt
        font-size: 18px
        line-height: 1.25em
        text-shadow: 1px 1px 0px #fff
        padding-right: 20px
      .highlight
        color: $blue
        font-size: 20px
        font-weight: bold
      div.section_list
        border-top: 1px solid #D6D2C2
        padding-top: 20px
      h4.headline
        font-family: $Rokkitt
        color: $blue
        font-size: 22px
        font-weight: bold
        text-transform: capitalize
        text-shadow: 1px 1px 0px #fff
        a
          color: $blue
      h4.headline_platform
        font-family: $Rokkitt
        color: $red
        font-size: 26px
        font-weight: normal
        text-shadow: 1px 1px 0px #fff
      .author
        color: #424242
        font-size: 18px
      .author_quote
        font-size: 18px
        text-align: right
        font-weight: bold
        color: #969488
      p.quote
        font-size: 24px
        line-height: 1.35em
        font-style: italic
        color: $blue
      p.read_more
        font-weight: bold
      img.platform_thumb
        background-color: #D6D2C2
        padding: 0px 81px 0px 81px
        text-align: center
      ul.neighborhood_list
        li
          font-family: $Rokkitt
          font-size: 18px
          color: #424242
          background: url("shared/redesign/about-stars.png") no-repeat -420px 2px
          padding-left: 25px

    .right
      border-left: 1px solid white
      padding-left: 29px
      h3
        font-family: $Rokkitt
        color: $blue
        font-size: 23px
        font-weight: normal
        text-align: center
        padding-bottom: 20px
        text-shadow: 1px 1px 0px #fff
      h2
        font-family: $Yellowtail
        font-size: 38px
        color: $red
        text-align: center
        font-weight: normal
        background: url("shared/redesign/about-stars.png") no-repeat center
        text-shadow: 1px 1px 0px #fff
      .input_error
        background: #EEECDF url(/assets/shared/redesign/background.gif) center
        box-shadow: inset #B5B196 0px 0px 3px 2px, rgba(255,255,255,.25) 0px 1px 1px
      .input_error::-webkit-input-placeholder
        color: $red
      .error
        font-size: 11px
        color: #fff
        font-family: Helvetica, Arial, sans-serif
        font-weight: bold
        background: url("shared/redesign/error-bg.png")
        background-repeat: no-repeat
        background-position: bottom left
        padding: 10px 12px 18px 12px
        line-height: 14px
        text-align: left
      .registration
        input.placeholder, textarea.placeholder
          color: #555
        input:-ms-input-placeholder
          color: #555
      input
        padding: 8px
        font-family: $Rokkitt
        font-size: 18px
        color: #131313
        background: white
        box-shadow: inset #eaeaea 0px 0px 3px 2px, rgba(255,255,255,1.0) 0px 1px 0px
        border: 1px solid #dad8cb
        &:last-child
        -webkit-font-smoothing: antialiased

      textarea
        -webkit-font-smoothing: antialiased
        padding: 8px
        color: #131313
        font-family: $Rokkitt
        font-size: 18px
        background: white
        box-shadow: inset #eaeaea 0px 0px 3px 2px, rgba(255,255,255,1.0) 0px 1px 0px
        border: 1px solid #dad8cb
        .placeholder
          color: #555

      button
        -webkit-font-smoothing: antialiased
        background: $blue
        padding: 10px 0
        letter-spacing: 1px
        font-family: $Ultra
        font-size: 20px
        border: 1px solid #151f28
        color: white
        text-transform: uppercase
        +linear-gradient(color-stops(#2e5274, #1b334a), top)
        box-shadow: 1px 1px 1px rgba(0,0,0,.25)
        text-shadow: 1px 2px 3px rgba(0,0,0,.65)
        cursor: pointer
        &:hover, &:focus
          color: #fff
          +linear-gradient(color-stops(#2e5274, #1b334a), top)
          text-shadow: 1px 2px 3px rgba(0,0,0,.65)
          box-shadow: 0px 2px 4px rgba(0,0,0,.65)
        &:active
          color: #fff
          +linear-gradient(color-stops(#2e5274, #1b334a), bottom)
          text-shadow: -1px -1px -1px rgba(0,0,0,.65)
          box-shadow: 1px 1px 1px rgba(0,0,0,.25)
      .facebook, .leader-button
        text-align: left
        a
          cursor: pointer
          background: url("shared/redesign/fbreg.png") no-repeat center
          text-indent: -9999px
          font-size: 18px
          text-transform: uppercase
        p
          color: #555
          font-family: $Rokkitt
          padding-top: 6px
          font-size: 20px